﻿@model ProjectManagement.Models.MenuModel
@{
    ViewBag.Title = Model.MenuId > 0 ? "Cập nhật thông tin" : "Thêm loại bài viết";
}
<link href="~/assets/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
<div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <form action="/menu/createoredit" method="post" id="createoredit">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">@ViewBag.Title</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="field-1" class="control-label">Tên</label>
                                <input type="hidden" name="MenuId" id="MenuId" value="@Model.MenuId">
                                <input type="text" class="form-control" name="Name" id="Name" value="@Model.Name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="field-1" class="control-label">Mô tả</label>
                                <input type="text" class="form-control" name="Description" id="Description" value="@Model.Description">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="field-1" class="control-label">Url code</label>
                                <input type="text" class="form-control" name="UrlCode" id="UrlCode" value="@Model.UrlCode">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="field-4" class="control-label">Menu cha</label>
                            <select class="form-control" id="Parent" name="Parent">
                                @{
                                    <option value="0">---Chọn menu---</option>
                                    foreach (var item in ViewBag.Menus as List<Model.Menu>)
                                    {
                                        <option value="@item.MenuId">@item.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="field-1" class="control-label">Thứ tự hiển thị</label>
                                @*<input class="vertical-spin" type="text" value="" name="vertical-spin">*@
                                <input type="text" class="form-control" name="OrderDisplay" id="OrderDisplay" value="@Model.OrderDisplay">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="field-1" class="control-label">Hiển thị</label>
                                <div class="checkbox checkbox-primary checkbox-single">
                                    <input type="checkbox" name="Active" id="Active" @string.Format("{0}", Model.Active ? "checked" : "") aria-label="Active">
                                    <label></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-info waves-effect waves-light" onclick="menuController.saveData()">Lưu</button>
                </div>
            </div>
        </form>
    </div>
</div><!-- /.modal -->
<script src="~/assets/js/base/base.js"></script>
<script src="~/assets/js/base/baseJs.js"></script>
<script src="~/assets/js/base/baseJs.RenderTemplate.js"></script>
@section scripts{
    <script src="~/assets/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>
    <script>
        //Bootstrap-TouchSpin
        $(".vertical-spin").TouchSpin({
            verticalbuttons: true,
            buttondown_class: "btn btn-primary",
            buttonup_class: "btn btn-primary",
            verticalupclass: 'ti-plus',
            verticaldownclass: 'ti-minus'
        });
        var vspinTrue = $(".vertical-spin").TouchSpin({
            verticalbuttons: true
        });
        if (vspinTrue) {
            $('.vertical-spin').prev('.bootstrap-touchspin-prefix').remove();
        }

    </script>
}