﻿@{
    ViewBag.Title = "Danh mục loại bài viết";
}

<!-- Editatable  Css-->
<link rel="stylesheet" href="~/assets/plugins/magnific-popup/dist/magnific-popup.css" />
<link rel="stylesheet" href="~/assets/plugins/jquery-datatables-editable/datatables.css" />
<link href="~/assets/plugins/fileuploads/css/dropify.min.css" rel="stylesheet" type="text/css" />
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">
            <!-- end row -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="m-b-30">
                                        <button class="btn btn-primary waves-effect waves-light" onclick="menuController.showFormAddNew()">Thêm <i class="fa fa-plus"></i></button>
                                        <button name="add-new" class="tiny-button" style="display:none;" data-toggle="modal" data-target="#con-close-modal">&nbsp; <i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="editable-responsive">
                                <table class="table table-striped" id="datatable-editable">
                                    <thead>
                                        <tr>
                                            <th>Tên danh mục</th>
                                            <th>Mô tả</th>
                                            <th>Trạng thái</th>
                                            <th>Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            if (ViewBag.Menus != null && ViewBag.Menus.Count > 0)
                                            {
                                                foreach (var item in ViewBag.Menus as List<Model.Menu>)
                                                {
                                                    <tr class="gradeX">
                                                        <td>
                                                            <a href="/menu/submenu/@item.MenuId">@item.Name</a> 
                                                        </td>
                                                        <td>
                                                            @item.Description
                                                        </td>
                                                        <td>
                                                            @if (item.Active)
                                                            {
                                                                <button class="btn btn-success waves-effect waves-light btn-sm m-b-5">Hiển thị</button>
                                                            }
                                                            else
                                                            {
                                                                <button class="btn btn-danger waves-effect waves-light btn-sm m-b-5">Ẩn</button>
                                                            }
                                                        </td>
                                                        <td class="actions">
                                                            <a href="javascript:void(0)" onclick="menuController.currentMenu=@item.MenuId; menuController.showFormAddNew();" class="on-default font-size-18"><i class="fa fa-pencil"></i></a>
                                                            <a href="javascript:void(0)" onclick="menuController.currentMenu=@item.MenuId;" class="on-default remove-row font-size-18"><i class="fa fa-trash-o"></i></a>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end: panel body -->
                    </div> <!-- end panel -->
                </div> <!-- end col-->
            </div>
            <!-- end row -->
        </div> <!-- container -->
    </div> <!-- content -->
    @Html.Partial("Footer")
</div>
<!-- MODAL -->
<div id="dialog" class="modal-block mfp-hide">
    <section class="panel panel-info panel-color">
        <header class="panel-heading">
            <h2 class="panel-title">Xóa?</h2>
        </header>
        <div class="panel-body">
            <div class="modal-wrapper">
                <div class="modal-text">
                    <p>Bạn có chắc muốn hệ thống xóa menu này và toàn bộ menu con?</p>
                </div>
            </div>
            <div class="row m-t-20">
                <div class="col-md-12 text-right">
                    <button id="dialogConfirm" class="btn btn-primary waves-effect waves-light" onclick="menuController.deleteResource()">Đồng ý</button>
                    <button id="dialogCancel" class="btn btn-default waves-effect">Hủy bỏ</button>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- end Modal -->

@section scripts{
    <!-- Editable js -->
    <script src="~/assets/plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/plugins/jquery-datatables-editable/jquery.dataTables.js"></script>
    <script src="~/assets/plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="~/assets/plugins/tiny-editable/mindmup-editabletable.js"></script>
    <script src="~/assets/plugins/tiny-editable/numeric-input-example.js"></script>
    <!-- init -->
    <script src="~/assets/js/controller/menuController.js"></script>
}

