﻿@{ 
    ViewBag.Title = "Không tìm thấy trang này";
}

    <div class="account-pages"></div>
    <div class="clearfix"></div>
    <div class="wrapper-page">
        <div class="ex-page-content text-center">
            <div class="text-error">404</div>
            <h3 class="text-uppercase font-600">Không tìm thấy trang</h3>
            <p class="text-muted">
                Không tìm thấy trang này.
            </p>
            <br>
            <a class="btn btn-success waves-effect waves-light" href="/"> Quay lại trang chủ</a>
        </div>
    </div>
    <!-- End wrapper page -->

    <script>
            var resizefunc = [];
    </script>
    <!-- jQuery  -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/detect.js"></script>
    <script src="~/assets/js/fastclick.js"></script>
    <script src="~/assets/js/jquery.slimscroll.js"></script>
    <script src="~/assets/js/jquery.blockUI.js"></script>
    <script src="~/assets/js/waves.js"></script>
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/jquery.nicescroll.js"></script>
    <script src="~/assets/js/jquery.scrollTo.min.js"></script>

    <script src="~/assets/js/jquery.core.js"></script>
    <script src="~/assets/js/jquery.app.js"></script>
