﻿@{
    ViewBag.Title = "Chức vụ/vai trò";
}

<!-- Editatable  Css-->
<link rel="stylesheet" href="~/assets/plugins/magnific-popup/dist/magnific-popup.css" />
<link rel="stylesheet" href="~/assets/plugins/jquery-datatables-editable/datatables.css" />

<div class="wrapper">
    <div class="container">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <h4 class="page-title">Chức vụ/vai trò</h4>
            </div>
        </div>
        <!-- end row -->
        <div class="row">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="m-b-30">
                                    @*<button id="addToTable" class="btn btn-primary waves-effect waves-light">Thêm <i class="fa fa-plus"></i></button>*@
                                    <button class="btn btn-primary waves-effect waves-light" onclick="roleControler.currentRole = 0;roleControler.showFormAddNew()">Thêm <i class="fa fa-plus"></i></button>
                                    <button name="add-new" class="tiny-button" style="display:none;" data-toggle="modal" data-target="#con-close-modal">&nbsp; <i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <table class="table table-striped" id="datatable-editable">
                                <thead>
                                    <tr>
                                        <th>Chức vụ/vai trò</th>
                                        <th>Thông tin/ghi chú</th>
                                        <th class="col-md-2">Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var listPosition = (List<Model.Position>)ViewBag.Positions;
                                        foreach (var item in listPosition)
                                        {
                                            <tr class="gradeX">
                                                <td>@item.Name</td>
                                                <td>@item.Description</td>
                                                <td class="actions">
                                                    <a href="javascript:void(0)" onclick="roleControler.currentRole=@item.Id; roleControler.showFormAddNew();" class="on-default font-size-18"><i class="fa fa-pencil"></i></a>
                                                    <a href="javascript:void(0)" onclick="roleControler.currentRole=@item.Id;" class="on-default remove-row font-size-18"><i class="fa fa-trash-o"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end: panel body -->
                </div> <!-- end panel -->
            </div> <!-- end col-->
        </div>

        <!-- end row -->
        <!-- Footer -->
        @Html.Partial("Footer")
        <!-- End Footer -->
    </div>
    <!-- end container -->
    <!-- MODAL -->
    <div id="dialog" class="modal-block mfp-hide">
        <section class="panel panel-info panel-color">
            <header class="panel-heading">
                <h2 class="panel-title">Xóa?</h2>
            </header>
            <div class="panel-body">
                <div class="modal-wrapper">
                    <div class="modal-text">
                        <p>Bạn có chắc muốn xóa chức vụ này?</p>
                    </div>
                </div>
                <div class="row m-t-20">
                    <div class="col-md-12 text-right">
                        <button id="deletePosition" onclick="roleControler.deletePosition()" class="btn btn-primary waves-effect waves-light">Đồng ý</button>
                        <button id="dialogCancel"  class="btn btn-default waves-effect">Hủy bỏ</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- end Modal -->
    <!-- Right Sidebar -->
    @Html.Partial("NotificationBar")
    <!-- /Right-bar -->
</div>
@Html.Partial("Script")

<!-- Editable js -->
<script src="~/assets/plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
<script src="~/assets/plugins/jquery-datatables-editable/jquery.dataTables.js"></script>
<script src="~/assets/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="~/assets/plugins/tiny-editable/mindmup-editabletable.js"></script>
<script src="~/assets/plugins/tiny-editable/numeric-input-example.js"></script>
<!-- init -->
<script src="~/assets/pages/datatables.editable.role.init.js"></script>
<!-- App js -->
<script src="~/assets/js/jquery.core.js"></script>
<script src="~/assets/js/jquery.app.js"></script>
<script src="~/assets/js/controller/roleController.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>