﻿ <!-- Footer -->
<footer class="footer text-right">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                2016 © Project Management.
            </div>
            <div class="col-xs-6">
                @*<ul class="pull-right list-inline m-b-0">
                    <li>
                        <a href="mailto:timeislifesgift@gmail.com">Design by AHX</a>
                    </li>
                </ul>*@
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->