﻿@using Model;
@using Microsoft.AspNet.Identity;
@using Common;
@{
//ProjectManagementEntities entities = new ProjectManagementEntities();
//var adminRole = Role.Admin.GetDescription();
//var currentUserId = User.Identity.GetUserId();
//var isAdmin = User.IsInRole("Admin");
//var listNotifications = entities.Notifications.Where(o=>o.ReceivedUser.Equals(currentUserId) || isAdmin).OrderByDescending(o=>o.CreatedDate).ToList();
}
@*<div class="side-bar right-bar">
    <a href="javascript:void(0);" class="right-bar-toggle">
        <i class="zmdi zmdi-close-circle-o"></i>
    </a>
    <h4 class="">Thông Báo</h4>
    <div class="notification-list nicescroll">
        <ul class="list-group list-no-border user-list">
            @foreach (var item in listNotifications)
            {
                <li class="list-group-item">
                    <a href="#" class="user-list-item">
                        @if (!string.IsNullOrEmpty(item.ProfilePicture))
                        {
                            <div class="avatar">
                                <img src="@item.ProfilePicture" alt="">
                            </div>
                        }
                        else
                        {
                            <div class="icon bg-info">
                                <i class="zmdi zmdi-account"></i>
                            </div>
                        }
                        <div class="user-desc">
                            <span class="name">@item.UserName</span>
                            <span class="desc">
                                @{
                                if (item.Content.Length > 60)
                                {
                                    <text>@item.Content.Substring(0, 60) ...</text>
                                    }
                                    else
                                    {
                                    <text>@item.Content</text>
                                }
                                }
                        </span>
                        <span class="time">@ProjectManagement.Helper.GetTimeAgo.GetTime(item.CreatedDate)</span>
                    </div>
                </a>
            </li>
            }
        </ul>
    </div>
</div>*@


<div class="side-bar right-bar">
    <a href="javascript:void(0);" class="right-bar-toggle">
        <i class="zmdi zmdi-close-circle-o"></i>
    </a>
    <h4 class="">Notifications</h4>
    <div class="notification-list nicescroll">
        <ul class="list-group list-no-border user-list">
            <li class="list-group-item">
                <a href="#" class="user-list-item">
                    <div class="avatar">
                        <img src="assets/images/users/avatar-2.jpg" alt="">
                    </div>
                    <div class="user-desc">
                        <span class="name">Michael Zenaty</span>
                        <span class="desc">There are new settings available</span>
                        <span class="time">2 hours ago</span>
                    </div>
                </a>
            </li>
            <li class="list-group-item">
                <a href="#" class="user-list-item">
                    <div class="icon bg-info">
                        <i class="zmdi zmdi-account"></i>
                    </div>
                    <div class="user-desc">
                        <span class="name">New Signup</span>
                        <span class="desc">There are new settings available</span>
                        <span class="time">5 hours ago</span>
                    </div>
                </a>
            </li>
            <li class="list-group-item">
                <a href="#" class="user-list-item">
                    <div class="icon bg-pink">
                        <i class="zmdi zmdi-comment"></i>
                    </div>
                    <div class="user-desc">
                        <span class="name">New Message received</span>
                        <span class="desc">There are new settings available</span>
                        <span class="time">1 day ago</span>
                    </div>
                </a>
            </li>
            <li class="list-group-item active">
                <a href="#" class="user-list-item">
                    <div class="avatar">
                        <img src="assets/images/users/avatar-3.jpg" alt="">
                    </div>
                    <div class="user-desc">
                        <span class="name">James Anderson</span>
                        <span class="desc">There are new settings available</span>
                        <span class="time">2 days ago</span>
                    </div>
                </a>
            </li>
            <li class="list-group-item active">
                <a href="#" class="user-list-item">
                    <div class="icon bg-warning">
                        <i class="zmdi zmdi-settings"></i>
                    </div>
                    <div class="user-desc">
                        <span class="name">Settings</span>
                        <span class="desc">There are new settings available</span>
                        <span class="time">1 day ago</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>