﻿@using Common
@{
    ViewBag.Title = "Home Page";
    //Layout = "~/View/Shared/_Layout.cshtml";
}
<div class="wrapper">
    @*<div class="container">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <h4 class="page-title">Dashboard</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="card-box">
                    <h4 class="header-title m-t-0 m-b-30">Tổng số người dùng</h4>
                    <div class="widget-chart-1">
                        <div class="widget-chart-box-1">
                            <i class="fa fa-users" style="color:rgb(53, 184, 224); font-size:60px;"></i>
                        </div>
                        <div class="widget-detail-1">
                            <h2 class="p-t-10 m-b-0">@string.Format("{0:00#}", ViewBag.TotalUser)</h2>
                            <p class="text-muted">Thành viên</p>
                        </div>
                    </div>
                </div>
            </div><!-- end col -->
            <div class="col-lg-3 col-md-6">
                <div class="card-box">
                    <h4 class="header-title m-t-0 m-b-30">Tổng số nhà thầu</h4>
                    <div class="widget-chart-1">
                        <div class="widget-chart-box-1">
                            <i class="fa fa-users" style="color:#188ae2; font-size:60px;"></i>
                        </div>
                        <div class="widget-detail-1">
                            <h2 class="p-t-10 m-b-0">@string.Format("{0:00#}", @ViewBag.TotalContractor)</h2>
                            <p class="text-muted">Nhà thầu</p>
                        </div>
                    </div>
                </div>
            </div><!-- end col -->
            <div class="col-lg-3 col-md-6">
                <div class="card-box">
                    <h4 class="header-title m-t-0 m-b-30">Tổng số chủ đầu tư</h4>
                    <div class="widget-chart-1">
                        <div class="widget-chart-box-1">
                            <i class="fa fa-users" style="color:#5b69bc; font-size:60px;"></i>
                        </div>
                        <div class="widget-detail-1">
                            <h2 class="p-t-10 m-b-0">@string.Format("{0:00#}", ViewBag.TotalInvestor)</h2>
                            <p class="text-muted">Chủ đầu tư</p>
                        </div>
                    </div>
                </div>
            </div><!-- end col -->
            <div class="col-lg-3 col-md-6">
                <div class="card-box">
                    <h4 class="header-title m-t-0 m-b-30">Tổng số dự án</h4>
                    <div class="widget-chart-1">
                        <div class="widget-chart-box-1">
                            <i class="fa fa-building-o" style="color:#10c469; font-size:60px;"></i>
                        </div>
                        <div class="widget-detail-1">
                            <h2 class="p-t-10 m-b-0">@string.Format("{0:00#}", ViewBag.TotalProject)</h2>
                            <p class="text-muted">Dự án</p>
                        </div>
                    </div>
                </div>
            </div><!-- end col -->
        </div>
        <!-- end row -->
        <div class="row">
            <div class="col-lg-6">
                <div class="card-box">
                    <h4 class="header-title m-t-0">Thống kế công việc</h4>
                    <div class="widget-chart text-center">
                        <div id="morris-donut-example" style="height: 245px;"></div>
                        <ul class="list-inline chart-detail-list m-b-0">
                            <li>
                                <h5 style="color: #ff8acc;"><i class="fa fa-circle m-r-5"></i>Hoàn thành</h5>
                            </li>
                            <li>
                                <h5 style="color: #5b69bc;"><i class="fa fa-circle m-r-5"></i>Đang tiến hành</h5>
                            </li>
                            <li>
                                <h5 style="color: rgb(53, 184, 224);"><i class="fa fa-circle m-r-5"></i>Chưa thực hiện</h5>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!-- end col -->
            <div class="col-lg-6">
                <div class="card-box">
                    <h4 class="header-title m-t-0">Thống kê công việc trong tuần tới</h4>
                    <div id="morris-bar-example" style="height: 280px;"></div>
                </div>
            </div><!-- end col -->

        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-lg-4">
                <div class="card-box">
                    <h4 class="header-title m-t-0 m-b-30">Tin nhắn mới</h4>
                    <div class="inbox-widget nicescroll" style="height: 315px;">
                        @foreach (var item in ViewBag.NewNotifications)
                        {
                            <a href="#">
                                <div class="inbox-item">

                                    <div class="inbox-item-img">
                                        @if (!string.IsNullOrEmpty(item.ProfilePicture))
                                        {
                                            <img src="@item.ProfilePicture" class="img-circle" alt="">
                                        }
                                        else
                                        {
                                            <img src="~/assets/images/users/no-avatar.jpg"
                                                 class="img-circle" alt="">
                                        }
                                    </div>
                                    <p class="inbox-item-author">@item.UserName</p>
                                    <p class="inbox-item-text">@item.Content</p>
                                    <p class="inbox-item-date">@ProjectManagement.Helper.GetTimeAgo.GetTime(item.CreatedDate)</p>
                                </div>
                            </a>
                        }
                    </div>
                </div>
            </div><!-- end col -->
            <div class="col-lg-8">
                <div class="card-box">
                    <h4 class="header-title m-t-0 m-b-30">Tình trạng công việc mới</h4>
                    <div class="table-responsive" style="height:315px;">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Tên công việc</th>
                                    <th>Ngày bắt đầu</th>
                                    <th>Ngày kết thúc</th>
                                    <th>Trạng thái</th>
                                    <th>Người thực hiện</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var listTask = (List<ProjectManagement.Models.ProjectTaskModel>)ViewBag.NewTaskStatus;
                                    var count = 0;
                                    foreach (var item in listTask)
                                    {
                                        count++;
                                        var clsStyle = string.Empty;
                                        var textNotification = string.Empty;
                                        switch (item.StatusId)
                                        {
                                            case (int)StatusProjectTask.Pending:
                                                clsStyle = "label label-warning";
                                                textNotification = "Chưa thực hiện";
                                                break;
                                            case (int)StatusProjectTask.Started:
                                                clsStyle = "label label-primary";
                                                textNotification = "Đang tiến hành";
                                                break;
                                            case (int)StatusProjectTask.Completed:
                                                clsStyle = "label label-success";
                                                textNotification = "Đã hoàn thành";
                                                break;
                                            case (int)StatusProjectTask.Cancelling:
                                                clsStyle = "label label-purple";
                                                textNotification = "Tạm hoãn";
                                                break;
                                            default:
                                                clsStyle = "label label-danger";
                                                textNotification = "Quá hạn";
                                                break;
                                        }
                                        <tr>
                                            <td>@count</td>
                                            <td>@item.Name</td>
                                            <td>@string.Format("{0:dd/MM/yyyy}",item.StartDate)</td>
                                            <td>@string.Format("{0:dd/MM/yyyy}", item.EndDate)</td>
                                            <td><span class="@clsStyle">@textNotification</span></td>
                                            <td>@item.UserName</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!-- end col -->
        </div>
        <!-- end row -->
        <!-- Footer -->
        @Html.Partial("Footer")
        <!-- End Footer -->
    </div>*@
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container">

                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="card-box">
                            <div class="dropdown pull-right">
                                <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                    <i class="zmdi zmdi-more-vert"></i>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                            <h4 class="header-title m-t-0 m-b-30">Total Revenue</h4>
                            <div class="widget-chart-1">
                                <div class="widget-chart-box-1">
                                    <input data-plugin="knob" data-width="80" data-height="80" data-fgColor="#f05050 "
                                           data-bgColor="#F9B9B9" value="58"
                                           data-skin="tron" data-angleOffset="180" data-readOnly=true
                                           data-thickness=".15" />
                                </div>
                                <div class="widget-detail-1">
                                    <h2 class="p-t-10 m-b-0"> 256 </h2>
                                    <p class="text-muted">Revenue today</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- end col -->
                    <div class="col-lg-3 col-md-6">
                        <div class="card-box">
                            <div class="dropdown pull-right">
                                <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                    <i class="zmdi zmdi-more-vert"></i>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                            <h4 class="header-title m-t-0 m-b-30">Sales Analytics</h4>
                            <div class="widget-box-2">
                                <div class="widget-detail-2">
                                    <span class="badge badge-success pull-left m-t-20">32% <i class="zmdi zmdi-trending-up"></i> </span>
                                    <h2 class="m-b-0"> 8451 </h2>
                                    <p class="text-muted m-b-25">Revenue today</p>
                                </div>
                                <div class="progress progress-bar-success-alt progress-sm m-b-0">
                                    <div class="progress-bar progress-bar-success" role="progressbar"
                                         aria-valuenow="77" aria-valuemin="0" aria-valuemax="100"
                                         style="width: 77%;">
                                        <span class="sr-only">77% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- end col -->
                    <div class="col-lg-3 col-md-6">
                        <div class="card-box">
                            <div class="dropdown pull-right">
                                <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                    <i class="zmdi zmdi-more-vert"></i>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                            <h4 class="header-title m-t-0 m-b-30">Statistics</h4>
                            <div class="widget-chart-1">
                                <div class="widget-chart-box-1">
                                    <input data-plugin="knob" data-width="80" data-height="80" data-fgColor="#ffbd4a"
                                           data-bgColor="#FFE6BA" value="80"
                                           data-skin="tron" data-angleOffset="180" data-readOnly=true
                                           data-thickness=".15" />
                                </div>
                                <div class="widget-detail-1">
                                    <h2 class="p-t-10 m-b-0"> 4569 </h2>
                                    <p class="text-muted">Revenue today</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- end col -->
                    <div class="col-lg-3 col-md-6">
                        <div class="card-box">
                            <div class="dropdown pull-right">
                                <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                    <i class="zmdi zmdi-more-vert"></i>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                            <h4 class="header-title m-t-0 m-b-30">Daily Sales</h4>
                            <div class="widget-box-2">
                                <div class="widget-detail-2">
                                    <span class="badge badge-pink pull-left m-t-20">32% <i class="zmdi zmdi-trending-up"></i> </span>
                                    <h2 class="m-b-0"> 158 </h2>
                                    <p class="text-muted m-b-25">Revenue today</p>
                                </div>
                                <div class="progress progress-bar-pink-alt progress-sm m-b-0">
                                    <div class="progress-bar progress-bar-pink" role="progressbar"
                                         aria-valuenow="77" aria-valuemin="0" aria-valuemax="100"
                                         style="width: 77%;">
                                        <span class="sr-only">77% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- end col -->
                </div>
                <!-- end row -->
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card-box">
                            <div class="dropdown pull-right">
                                <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                    <i class="zmdi zmdi-more-vert"></i>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                            <h4 class="header-title m-t-0">Daily Sales</h4>
                            <div class="widget-chart text-center">
                                <div id="morris-donut-example" style="height: 245px;"></div>
                                <ul class="list-inline chart-detail-list m-b-0">
                                    <li>
                                        <h5 style="color: #ff8acc;"><i class="fa fa-circle m-r-5"></i>Series A</h5>
                                    </li>
                                    <li>
                                        <h5 style="color: #5b69bc;"><i class="fa fa-circle m-r-5"></i>Series B</h5>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- end col -->
                    <div class="col-lg-4">
                        <div class="card-box">
                            <div class="dropdown pull-right">
                                <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                    <i class="zmdi zmdi-more-vert"></i>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                            <h4 class="header-title m-t-0">Statistics</h4>
                            <div id="morris-bar-example" style="height: 280px;"></div>
                        </div>
                    </div><!-- end col -->
                    <div class="col-lg-4">
                        <div class="card-box">
                            <div class="dropdown pull-right">
                                <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                    <i class="zmdi zmdi-more-vert"></i>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                            <h4 class="header-title m-t-0">Total Revenue</h4>
                            <div id="morris-line-example" style="height: 280px;"></div>
                        </div>
                    </div><!-- end col -->
                </div>
                <!-- end row -->

                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="card-box widget-user">
                            <div>
                                <img src="assets/images/users/avatar-3.jpg" class="img-responsive img-circle" alt="user">
                                <div class="wid-u-info">
                                    <h4 class="m-t-0 m-b-5 font-600">Chadengle</h4>
                                    <p class="text-muted m-b-5 font-13">coderthemes@gmail.com</p>
                                    <small class="text-warning"><b>Admin</b></small>
                                </div>
                            </div>
                        </div>
                    </div><!-- end col -->
                    <div class="col-lg-3 col-md-6">
                        <div class="card-box widget-user">
                            <div>
                                <img src="assets/images/users/avatar-2.jpg" class="img-responsive img-circle" alt="user">
                                <div class="wid-u-info">
                                    <h4 class="m-t-0 m-b-5 font-600"> Michael Zenaty</h4>
                                    <p class="text-muted m-b-5 font-13">coderthemes@gmail.com</p>
                                    <small class="text-custom"><b>Support Lead</b></small>
                                </div>
                            </div>
                        </div>
                    </div><!-- end col -->
                    <div class="col-lg-3 col-md-6">
                        <div class="card-box widget-user">
                            <div>
                                <img src="assets/images/users/avatar-1.jpg" class="img-responsive img-circle" alt="user">
                                <div class="wid-u-info">
                                    <h4 class="m-t-0 m-b-5 font-600">Stillnotdavid</h4>
                                    <p class="text-muted m-b-5 font-13">coderthemes@gmail.com</p>
                                    <small class="text-success"><b>Designer</b></small>
                                </div>
                            </div>
                        </div>
                    </div><!-- end col -->
                    <div class="col-lg-3 col-md-6">
                        <div class="card-box widget-user">
                            <div>
                                <img src="assets/images/users/avatar-10.jpg" class="img-responsive img-circle" alt="user">
                                <div class="wid-u-info">
                                    <h4 class="m-t-0 m-b-5 font-600">Tomaslau</h4>
                                    <p class="text-muted m-b-5 font-13">coderthemes@gmail.com</p>
                                    <small class="text-info"><b>Developer</b></small>
                                </div>
                            </div>
                        </div>
                    </div><!-- end col -->
                </div>
                <!-- end row -->

                <div class="row">
                    <div class="col-lg-4">
                        <div class="card-box">
                            <div class="dropdown pull-right">
                                <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                    <i class="zmdi zmdi-more-vert"></i>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                            <h4 class="header-title m-t-0 m-b-30">Inbox</h4>
                            <div class="inbox-widget nicescroll" style="height: 315px;">
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="assets/images/users/avatar-1.jpg" class="img-circle" alt=""></div>
                                        <p class="inbox-item-author">Chadengle</p>
                                        <p class="inbox-item-text">Hey! there I'm available...</p>
                                        <p class="inbox-item-date">13:40 PM</p>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="assets/images/users/avatar-2.jpg" class="img-circle" alt=""></div>
                                        <p class="inbox-item-author">Tomaslau</p>
                                        <p class="inbox-item-text">I've finished it! See you so...</p>
                                        <p class="inbox-item-date">13:34 PM</p>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="assets/images/users/avatar-3.jpg" class="img-circle" alt=""></div>
                                        <p class="inbox-item-author">Stillnotdavid</p>
                                        <p class="inbox-item-text">This theme is awesome!</p>
                                        <p class="inbox-item-date">13:17 PM</p>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="assets/images/users/avatar-4.jpg" class="img-circle" alt=""></div>
                                        <p class="inbox-item-author">Kurafire</p>
                                        <p class="inbox-item-text">Nice to meet you</p>
                                        <p class="inbox-item-date">12:20 PM</p>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="inbox-item">
                                        <div class="inbox-item-img"><img src="assets/images/users/avatar-5.jpg" class="img-circle" alt=""></div>
                                        <p class="inbox-item-author">Shahedk</p>
                                        <p class="inbox-item-text">Hey! there I'm available...</p>
                                        <p class="inbox-item-date">10:15 AM</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div><!-- end col -->
                    <div class="col-lg-8">
                        <div class="card-box">
                            <div class="dropdown pull-right">
                                <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                    <i class="zmdi zmdi-more-vert"></i>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                            <h4 class="header-title m-t-0 m-b-30">Latest Projects</h4>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Project Name</th>
                                            <th>Start Date</th>
                                            <th>Due Date</th>
                                            <th>Status</th>
                                            <th>Assign</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Adminto Admin v1</td>
                                            <td>01/01/2016</td>
                                            <td>26/04/2016</td>
                                            <td><span class="label label-danger">Released</span></td>
                                            <td>Coderthemes</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Adminto Frontend v1</td>
                                            <td>01/01/2016</td>
                                            <td>26/04/2016</td>
                                            <td><span class="label label-success">Released</span></td>
                                            <td>Adminto admin</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Adminto Admin v1.1</td>
                                            <td>01/05/2016</td>
                                            <td>10/05/2016</td>
                                            <td><span class="label label-pink">Pending</span></td>
                                            <td>Coderthemes</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Adminto Frontend v1.1</td>
                                            <td>01/01/2016</td>
                                            <td>31/05/2016</td>
                                            <td>
                                                <span class="label label-purple">Work in Progress</span>
                                            </td>
                                            <td>Adminto admin</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>Adminto Admin v1.3</td>
                                            <td>01/01/2016</td>
                                            <td>31/05/2016</td>
                                            <td><span class="label label-warning">Coming soon</span></td>
                                            <td>Coderthemes</td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>Adminto Admin v1.3</td>
                                            <td>01/01/2016</td>
                                            <td>31/05/2016</td>
                                            <td><span class="label label-primary">Coming soon</span></td>
                                            <td>Adminto admin</td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>Adminto Admin v1.3</td>
                                            <td>01/01/2016</td>
                                            <td>31/05/2016</td>
                                            <td><span class="label label-primary">Coming soon</span></td>
                                            <td>Adminto admin</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div><!-- end col -->
                </div>
                <!-- end row -->
            </div> <!-- container -->
        </div> <!-- content -->
        @Html.Partial("Footer")
    </div>
    <!-- end container -->
    <!-- Right Sidebar -->
    @Html.Partial("NotificationBar")
    <!-- /Right-bar -->
    @Html.Partial("Script")
    <!-- KNOB JS -->
    <!--[if IE]>
    <script type="text/javascript" src="assets/plugins/jquery-knob/excanvas.js"></script>
    <![endif]-->
    <script src="~/assets/plugins/jquery-knob/jquery.knob.js"></script>
    <!--Morris Chart-->
    <script src="~/assets/plugins/morris/morris.min.js"></script>
    <script src="~/assets/plugins/raphael/raphael-min.js"></script>
    <!-- Dashboard init -->
    <script src="~/assets/pages/jquery.dashboard.js"></script>

    <!-- App js -->
    <script src="~/assets/js/jquery.core.js"></script>
    <script src="~/assets/js/jquery.app.js"></script>
    <script>
        //initializing
        $(document).ready(function () {
            var list = JSON.parse('@Html.Raw(ViewBag.StatisticJob)');
            var barData = [];
            for (var i = 0; i < list.length; i++) {
                barData.push(list[i]);
            }
            debugger;
            var donutData = [
                    { label: "", value: '@ViewBag.CompletedJob' },
                    { label: "", value: '@ViewBag.StartedJob' },
                    { label: "", value: '@ViewBag.NewJob' }
            ];
            $.Dashboard1.init(barData, donutData);
        });
    </script>
</div>