﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>V-Edu tư vấn giáo dục</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-language" content="vi" />
    <meta name="language" content="vietnamese" />
    <meta name="author" content="" />
    <meta name="copyright" content="" />
    <meta name="robots" content="index, archive, follow, noodp" />
    <meta name="googlebot" content="index,archive,follow,noodp" />
    <meta name="msnbot" content="all,index,follow" />
    <meta name="generator" content="NukeViet v3.x" />
    <link rel="icon" href="http://trungtamtienghan.edu.vn/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="shortcut icon" href="http://trungtamtienghan.edu.vn/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="stylesheet" type="text/css" href="~/content/themes/vedu/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="~/content/themes/vedu/css/template.css" />
    <link rel="stylesheet" type="text/css" href="~/content/themes/vedu/css/icons.css" />
    <link rel="stylesheet" type="text/css" href="~/content/themes/vedu/css/real.css" />
    <link rel="stylesheet" type="text/css" href="~/content/themes/vedu/css/tab_info.css" />

    <script type="text/javascript" async="" src="~/content/themes/vedu/js/loader.js"></script>
    <script async="" src="~/content/themes/vedu/js/analytics.js"></script>
    <script async="" type="text/javascript" src="~/content/themes/vedu/js/vi.js"></script>
    <script type="text/javascript" src="~/content/themes/vedu/js/jquery_002.js"></script>
    <script type="text/javascript">
        //<![CDATA[
        var nv_siteroot = "/", nv_sitelang = "vi", nv_name_variable = "nv", nv_fc_variable = "op", nv_lang_variable = "language", nv_module_name = "home", nv_my_ofs = 7, nv_my_abbr = "ICT", nv_cookie_prefix = "nv3c_V78mo", nv_area_admin = 0;
        //]]>
    </script>
    <script async="" type="text/javascript" src="~/content/themes/vedu/js/global.js"></script>



    <link rel="icon" type="image/x-icon" href="http://trungtamtienghan.edu.vn/themes/default/favicon.ico" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->

    <meta name="DC.title" content="Trung Tâm Tiếng Hàn - Học Tiếng Hàn Online" />
    <meta name="geo.region" content="VN-HN" />
    <meta name="geo.placename" content="Hà Nội" />
    <meta name="geo.position" content="21.0485216;105.811175" />
    <meta name="ICBM" content="21.0485216, 105.811175" />


</head>

<body>
        <div id="header">
            <div class="banner">
                <div class="show-logo">
                    <div id="logo">
                        <a title="" href="http://trungtamtienghan.edu.vn/">Title</a>
                    </div>
                    <div style="font-size:14px;margin:-5px 0 0px 0"></div>
                </div>
                <div class="header_banner">
                    <div style="text-align: center;"> <span style="font-size:26px;"><strong><span style="color:rgb(255, 0, 51);">연구, 영원히 더 많은 연구를 연구</span></strong></span></div>
                </div>
                <div class="header_banner2">

                    <div class="hottop">
                        <div style="text-align: right;"> <span style="font-size: 20px;"><strong>HOTLINE</strong> :&nbsp;</span><strong style="font-size: 20px;"><span style="color: rgb(255, 0, 0);">0964 661288&nbsp;</span></strong><br style="font-size: 20px;" /> <strong><span style="font-size: 16px;">(8.00h -22.00h kể cả T7, CN )</span></strong></div>

                        <div class="clear"></div>

                        <form action="/" method="get" class="" style="margin-top: 10px; width: 100%;padding: 3px;border:2px solid #666; border-radius:5px" onsubmit="return nv_search_submit('topmenu_search_query', 'topmenu_search_checkss', 'topmenu_search_submit', 3, 60);">
                            <fieldset>
                                <input id="topmenu_search_checkss" value="" type="hidden" />
                                <input class="txt" style=" width= width 200px;=200px; border:0px=border:0px solid=solid #fff;=#fff; height:25px"=height:25px" name="topmenu_search_query" id="topmenu_search_query" maxlength="60" type="text" />
                                <input class="submit" value="&nbsp;" name="topmenu_search_submit" id="topmenu_search_submit" onclick="nv_search_submit('topmenu_search_query', 'topmenu_search_checkss', 'topmenu_search_submit', 3, 60);" type="button" />
                            </fieldset>
                        </form>

                    </div>
                </div>

            </div>

        </div>
        <div class="clear"></div>



        <style>
            .f-nav {
                /* To fix main menu container */
                z-index: 9999;
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
            }
        </style>




        <script type="text/javascript">

            $("document").ready(function ($) {
                var nav = $('#nan-top');
                $(window).scroll(function () {
                    if ($(this).scrollTop() > 135) {
                        nav.addClass("f-nav");
                    } else {
                        nav.removeClass("f-nav");
                    }
                });
            });

        </script>




        <div class="menu" id="nan-top">
            <div class="menucon">
                <link rel="stylesheet" type="text/css" href="~/content/themes/vedu/css/styles.css" />
                <script async="" src="~/content/themes/vedu/js/script.js" type="text/javascript"></script>


                <div id="cssmenu">
                    <div id="menu-button">Menu</div>
                    <ul>
                        <li><a class="home" title="Trang chủ" href="http://trungtamtienghan.edu.vn/">Trang chủ</a></li>
                        <li class="has-sub">
                            <span class="submenu-button"></span>
                            <a rel="nofollow" title="Giới thiệu" href="http://trungtamtienghan.edu.vn/about/">Giới thiệu</a>
                            <ul>
                                <li><a title="Về trung tâm tiếng hàn sofl" href="http://trungtamtienghan.edu.vn/about/VE-TRUNG-TAM-TIENG-HAN-SOFL/">Về trung tâm tiếng hàn sofl</a></li>

                                <li><a title="Đội ngũ giảng viên" href="http://trungtamtienghan.edu.vn/about/Doi-ngu-giang-vien/">Đội ngũ giảng viên</a></li>

                                <li><a title="Cơ sở vật chất" href="http://trungtamtienghan.edu.vn/about/Co-so-vat-chat/">Cơ sở vật chất</a></li>

                                <li><a title="Cam kết của trung tâm tiếng hàn sofl" href="http://trungtamtienghan.edu.vn/about/Cam-ket-cua-TRUNG-TAM-TIENG-HAN-SOFL/">Cam kết của trung tâm tiếng hàn sofl</a></li>

                            </ul>
                        </li>

                        <li class="has-sub">
                            <span class="submenu-button"></span>
                            <a title="Tài liệu" href="http://trungtamtienghan.edu.vn/tai-lieu/">Tài liệu</a>
                            <ul></ul>
                        </li>

                        <li class="has-sub">
                            <span class="submenu-button"></span>
                            <a title="Phần mềm" href="http://trungtamtienghan.edu.vn/phan-mem/">Phần mềm</a>
                            <ul></ul>
                        </li>

                        <li class="has-sub">
                            <span class="submenu-button"></span>
                            <a title="Học phí" href="http://trungtamtienghan.edu.vn/hoc-phi/">Học phí</a>
                            <ul></ul>
                        </li>

                        <li class="has-sub">
                            <span class="submenu-button"></span>
                            <a title="Các lớp đang học" href="http://trungtamtienghan.edu.vn/cac-lop-dang-hoc/">Các lớp đang học</a>
                            <ul></ul>
                        </li>

                        <li>
                            <a rel="nofollow" title="Đăng kí học" href="http://trungtamtienghan.edu.vn/contact/">Đăng kí học</a>



                        </li>

                    </ul>
                </div>
                <div style="clear:both"></div>







            </div>
        </div>




        <div class="contentwrapper">

        </div>



        <div class="contentwrapper">



            <div class="head">



            </div>


            <div class="main_head">

                <div class="main_head_left">
                    <div class="box silver">
                        <h3 class="header">Danh mục khóa học</h3>
                        <div class="box_content">
                            <link rel="stylesheet" type="text/css" href="~/content/themes/vedu/css/ddsmoothmenu.css" />
                            <script type="text/javascript" src="~/content/themes/vedu/js/ddsmoothmenu.js"></script>
                            <script type="text/javascript">
                                ddsmoothmenu.init({
                                    arrowimages: { down: ['downarrowclass', '/themes/default/images/ddsmoothmenu/down.gif', 23], right: ['rightarrowclass', '/themes/default/images/ddsmoothmenu/right.gif'] },
                                    mainmenuid: "smoothmenu_81", //Menu DIV id
                                    zIndex: 200,
                                    orientation: 'v', //Horizontal or vertical menu: Set to "h" or "v"
                                    classname: 'ddsmoothmenu-v', //class added to menu's outer DIV
                                    contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
                                })
                            </script>
                            <div id="smoothmenu_81" class="ddsmoothmenu-v">

                                <ul>
                                    <li style="z-index: 200;">
                                        <a title="Tiếng hàn sơ cấp" href="http://trungtamtienghan.edu.vn/dao-tao/tieng-han-so-cap/" style="padding-right: 23px;" class="">
                                            Tiếng hàn sơ cấp

                                            <div class="nho">Tiếng Hàn Sơ Cấp 1,2,3</div>
                                            <img src="~/content/themes/vedu/images/right.gif" class="rightarrowclass" style="border:0;" />
                                        </a><ul style="display: none; top: 0px; box-shadow: 5px 5px 5px rgb(170, 170, 170); visibility: visible;">
                                            <li>
                                                <a title="Tiếng Hàn Sơ Cấp 1" href="http://trungtamtienghan.edu.vn/dao-tao/Tieng-Han-So-Cap-1/Tieng-Han-So-Cap-1-Danh-cho-nguoi-moi-bat-dau-13/">Tiếng Hàn Sơ Cấp 1</a>



                                            </li>
                                            <li>
                                                <a title="Tiếng Hàn Sơ Cấp 2" href="http://trungtamtienghan.edu.vn/dao-tao/Tieng-Han-So-Cap-2/Tieng-Han-So-Cap-2-14/">Tiếng Hàn Sơ Cấp 2</a>



                                            </li>
                                            <li>
                                                <a title="Tiếng Hàn Sơ Cấp 3" href="http://trungtamtienghan.edu.vn/dao-tao/Tieng-Han-So-Cap-3/Tieng-Han-So-Cap-3-22/">Tiếng Hàn Sơ Cấp 3</a>



                                            </li>
                                        </ul>



                                    </li>
                                    <li style="z-index: 199;">
                                        <a title="Tiếng hàn trung cấp" href="http://trungtamtienghan.edu.vn/dao-tao/Tieng-han-trung-cap/" style="padding-right: 23px;">
                                            Tiếng hàn trung cấp

                                            <div class="nho">Tiếng Hàn Trung Cấp 1, 2, 3</div>
                                            <img src="Trung%20t%C3%A2m%20ti%E1%BA%BFng%20H%C3%A0n%20SOFL%20-%20SOFL%20%ED%95%9C%20%EA%B5%AD%20%EC%96%B4%20%ED%95%99%20%EB%8B%B9%20Ti%E1%BA%BFng%20H%C3%A0n%20KLPT_files/right.gif" class="rightarrowclass" style="border:0;" />
                                        </a><ul style="display: none; top: 0px; box-shadow: 5px 5px 5px rgb(170, 170, 170); visibility: visible;">
                                            <li>
                                                <a title="Tiếng Hàn Trung Cấp 1" href="http://trungtamtienghan.edu.vn/dao-tao/Tieng-Han-Trung-Cap-1/Tieng-Han-Trung-Cap-1-15/">Tiếng Hàn Trung Cấp 1</a>



                                            </li>
                                            <li>
                                                <a title="Tiếng Hàn Trung Cấp 2" href="http://trungtamtienghan.edu.vn/dao-tao/Tieng-Han-Trung-Cap-2/Tieng-Han-Trung-Cap-2-16/">Tiếng Hàn Trung Cấp 2</a>



                                            </li>
                                            <li>
                                                <a title="Tiếng Hàn Trung Cấp 3" href="http://trungtamtienghan.edu.vn/dao-tao/Tieng-han-trung-cap-44/Tieng-han-trung-cap-3-35/">Tiếng Hàn Trung Cấp 3</a>



                                            </li>
                                        </ul>



                                    </li>
                                    <li style="z-index: 198;">
                                        <a title="Tiếng Hàn Giao Tiếp" href="http://trungtamtienghan.edu.vn/dao-tao/Tieng-Han-Giao-Tiep/" style="padding-right: 23px;">
                                            Tiếng Hàn Giao Tiếp

                                            <div class="nho">Giao tiếp cơ bản, giao tiếp nâng cao</div>
                                            <img src="Trung%20t%C3%A2m%20ti%E1%BA%BFng%20H%C3%A0n%20SOFL%20-%20SOFL%20%ED%95%9C%20%EA%B5%AD%20%EC%96%B4%20%ED%95%99%20%EB%8B%B9%20Ti%E1%BA%BFng%20H%C3%A0n%20KLPT_files/right.gif" class="rightarrowclass" style="border:0;" />
                                        </a><ul style="display: none; top: 0px; box-shadow: 5px 5px 5px rgb(170, 170, 170); visibility: visible;">
                                            <li>
                                                <a title="Giao tiếp cơ bản" href="http://trungtamtienghan.edu.vn/dao-tao/Giao-tiep-co-ban/Giao-Tiep-co-ban-24/">Giao tiếp cơ bản</a>



                                            </li>
                                            <li>
                                                <a title="Giao tiếp nâng cao" href="http://trungtamtienghan.edu.vn/dao-tao/Giao-tiep-nang-cao/Giao-Tiep-nang-cao-25/">Giao tiếp nâng cao</a>



                                            </li>
                                        </ul>



                                    </li>
                                    <li style="z-index: 197;">
                                        <a title="Tiếng hàn KLPT -XKLĐ" href="http://trungtamtienghan.edu.vn/dao-tao/Tieng-han-KLPT-XKLD/" style="padding-right: 23px;">
                                            Tiếng hàn KLPT -XKLĐ

                                            <div class="nho">Luyện thi KLPT, luyện thi EPS</div>
                                            <img src="Trung%20t%C3%A2m%20ti%E1%BA%BFng%20H%C3%A0n%20SOFL%20-%20SOFL%20%ED%95%9C%20%EA%B5%AD%20%EC%96%B4%20%ED%95%99%20%EB%8B%B9%20Ti%E1%BA%BFng%20H%C3%A0n%20KLPT_files/right.gif" class="rightarrowclass" style="border:0;" />
                                        </a><ul style="display: none; top: 0px; box-shadow: 5px 5px 5px rgb(170, 170, 170); visibility: visible;">
                                            <li>
                                                <a title="Luyện thi KLPT I" href="http://trungtamtienghan.edu.vn/dao-tao/Luyen-thi-KLPT-I/Tieng-Han-KLPT-18/">Luyện thi KLPT I</a>



                                            </li>
                                            <li>
                                                <a title="Luyện thi KLPT II" href="http://trungtamtienghan.edu.vn/dao-tao/Luyen-thi-KLPT-II/Tieng-Han-KLPT-II-37/">Luyện thi KLPT II</a>



                                            </li>
                                        </ul>



                                    </li>
                                    <li style="z-index: 196;">
                                        <a title="Tiếng Hàn Du Học cấp tốc" href="http://trungtamtienghan.edu.vn/dao-tao/Tieng-Han-Du-Hoc-cap-toc-1/" style="padding-right: 23px;">
                                            Tiếng Hàn Du Học cấp tốc

                                            <div class="nho">Tiếng Hàn dành cho du học sinh</div>
                                            
                                        </a><ul style="display: none; top: 0px; box-shadow: 5px 5px 5px rgb(170, 170, 170); visibility: visible;">
                                            <li>
                                                <a title="Tiếng Hàn Du Học cấp tốc 1" href="http://trungtamtienghan.edu.vn/dao-tao/Tieng-Han-Du-Hoc-cap-toc-1-57/Tieng-Han-Du-Hoc-cap-toc-23/">Tiếng Hàn Du Học cấp tốc 1</a>



                                            </li>
                                            <li>
                                                <a title="Tiếng Hàn Du Học cấp tốc 2" href="http://trungtamtienghan.edu.vn/dao-tao/Tieng-Han-Du-Hoc-cap-toc-2/Tieng-Han-Du-Hoc-cap-toc-2-36/">Tiếng Hàn Du Học cấp tốc 2</a>



                                            </li>
                                        </ul>



                                    </li>
                                    <li style="z-index: 195;">
                                        <a title="Luyện thi Topik" href="http://trungtamtienghan.edu.vn/dao-tao/Luyen-thi-topik/" style="padding-right: 23px;">
                                            Luyện thi Topik

                                            <div class="nho">Luyện thi Topik 1,2,3,4,5,6</div>
                                            
                                        </a><ul style="display: none; top: 0px; box-shadow: 5px 5px 5px rgb(170, 170, 170); visibility: visible;">
                                            <li>
                                                <a title="Luyện thi Topik 1" href="http://trungtamtienghan.edu.vn/dao-tao/Luyen-thi-Topik-1/TOPIK-CAP-1-27/">Luyện thi Topik 1</a>



                                            </li>
                                            <li>
                                                <a title="Luyện thi Topik 2" href="http://trungtamtienghan.edu.vn/dao-tao/Luyen-thi-Topik-2/TOPIK-CAP-2-28/">Luyện thi Topik 2</a>



                                            </li>
                                            <li>
                                                <a title="Luyện thi Topik 3" href="http://trungtamtienghan.edu.vn/dao-tao/Luyen-thi-Topik-3/TOPIK-CAP-3-29/">Luyện thi Topik 3</a>



                                            </li>
                                            <li>
                                                <a title="Luyện thi Topik 4" href="http://trungtamtienghan.edu.vn/dao-tao/Luyen-thi-Topik-4/TOPIK-CAP-4-30/">Luyện thi Topik 4</a>



                                            </li>
                                            <li>
                                                <a title="Luyện thi Topik 5" href="http://trungtamtienghan.edu.vn/dao-tao/Luyen-thi-Topik-5/TOPIK-CAP-5-31/">Luyện thi Topik 5</a>



                                            </li>
                                            <li>
                                                <a title="Luyện thi Topik 6" href="http://trungtamtienghan.edu.vn/dao-tao/Luyen-thi-Topik-6/TOPIK-CAP-6-32/">Luyện thi Topik 6</a>



                                            </li>
                                        </ul>



                                    </li>
                                    <li style="z-index: 194;">
                                        <a title="Tiếng hàn trực tuyến Online" href="http://trungtamtienghan.edu.vn/dao-tao/Tieng-han-truc-tuyen-Online/" style="padding-right: 23px;">
                                            Tiếng hàn trực tuyến Online

                                            <div class="nho">Học trực tiếp , học qua video</div>
                                            
                                        </a><ul style="display: none; top: 0px; box-shadow: 5px 5px 5px rgb(170, 170, 170); visibility: visible;">
                                            <li>
                                                <a title="Học trực tuyến" href="http://trungtamtienghan.edu.vn/dao-tao/Hoc-truc-tuyen/Tieng-Han-Truc-Tuyen-Online-33/">Học trực tuyến</a>



                                            </li>
                                            <li>
                                                <a title="Học qua video" href="http://trungtamtienghan.edu.vn/dao-tao/Hoc-qua-video/Hoc-tieng-Han-qua-video-34/">Học qua video</a>



                                            </li>
                                        </ul>



                                    </li>

                                </ul>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="main_head_right">



                    <link rel="stylesheet" href="~/content/themes/vedu/css/default.css" type="text/css" media="screen" />
                    <link rel="stylesheet" href="~/content/themes/vedu/css/nivo-slider.css" type="text/css" media="screen" />


                    <div class="slider-wrapper theme-default">
                        <div id="slider" class="nivoSlider">



                            <img alt="slide" src="Trung%20t%C3%A2m%20ti%E1%BA%BFng%20H%C3%A0n%20SOFL%20-%20SOFL%20%ED%95%9C%20%EA%B5%AD%20%EC%96%B4%20%ED%95%99%20%EB%8B%B9%20Ti%E1%BA%BFng%20H%C3%A0n%20KLPT_files/image-banner-gachy.png" style="display: none;" />




                            <img alt="slide" src="Trung%20t%C3%A2m%20ti%E1%BA%BFng%20H%C3%A0n%20SOFL%20-%20SOFL%20%ED%95%9C%20%EA%B5%AD%20%EC%96%B4%20%ED%95%99%20%EB%8B%B9%20Ti%E1%BA%BFng%20H%C3%A0n%20KLPT_files/slide2_1.png" style="width: 650px; visibility: hidden; display: inline;" />




                            <img alt="slide" src="Trung%20t%C3%A2m%20ti%E1%BA%BFng%20H%C3%A0n%20SOFL%20-%20SOFL%20%ED%95%9C%20%EA%B5%AD%20%EC%96%B4%20%ED%95%99%20%EB%8B%B9%20Ti%E1%BA%BFng%20H%C3%A0n%20KLPT_files/trung-tam-tieng-han-sofl_1.png" style="display: none;" />


                            <img class="nivo-main-image" src="Trung%20t%C3%A2m%20ti%E1%BA%BFng%20H%C3%A0n%20SOFL%20-%20SOFL%20%ED%95%9C%20%EA%B5%AD%20%EC%96%B4%20%ED%95%99%20%EB%8B%B9%20Ti%E1%BA%BFng%20H%C3%A0n%20KLPT_files/image-banner-gachy.png" style="display: inline; overflow: hidden; height: 458.039px;" /><div class="nivo-caption"></div><div class="nivo-directionNav"><a class="nivo-prevNav">Prev</a><a class="nivo-nextNav">Next</a></div><div class="nivo-slice" name="0" style="left: 0px; width: 130px; height: 458px; opacity: 0.941883; overflow: hidden; top: 0px;"><img src="Trung%20t%C3%A2m%20ti%E1%BA%BFng%20H%C3%A0n%20SOFL%20-%20SOFL%20%ED%95%9C%20%EA%B5%AD%20%EC%96%B4%20%ED%95%99%20%EB%8B%B9%20Ti%E1%BA%BFng%20H%C3%A0n%20KLPT_files/slide2_1.png" style="position:absolute; width:650px; height:auto; display:block !important; top:0; left:-0px;" /></div><div class="nivo-slice" name="1" style="left: 130px; width: 130px; height: 458px; opacity: 0.922164; overflow: hidden; top: 0px;"><img src="Trung%20t%C3%A2m%20ti%E1%BA%BFng%20H%C3%A0n%20SOFL%20-%20SOFL%20%ED%95%9C%20%EA%B5%AD%20%EC%96%B4%20%ED%95%99%20%EB%8B%B9%20Ti%E1%BA%BFng%20H%C3%A0n%20KLPT_files/slide2_1.png" style="position:absolute; width:650px; height:auto; display:block !important; top:0; left:-130px;" /></div><div class="nivo-slice" name="2" style="left: 260px; width: 130px; height: 458px; opacity: 0.896517; overflow: hidden; top: 0px;"><img src="Trung%20t%C3%A2m%20ti%E1%BA%BFng%20H%C3%A0n%20SOFL%20-%20SOFL%20%ED%95%9C%20%EA%B5%AD%20%EC%96%B4%20%ED%95%99%20%EB%8B%B9%20Ti%E1%BA%BFng%20H%C3%A0n%20KLPT_files/slide2_1.png" style="position:absolute; width:650px; height:auto; display:block !important; top:0; left:-260px;" /></div><div class="nivo-slice" name="3" style="left: 390px; width: 130px; height: 458px; opacity: 0.873493; overflow: hidden; top: 0px;"><img src="Trung%20t%C3%A2m%20ti%E1%BA%BFng%20H%C3%A0n%20SOFL%20-%20SOFL%20%ED%95%9C%20%EA%B5%AD%20%EC%96%B4%20%ED%95%99%20%EB%8B%B9%20Ti%E1%BA%BFng%20H%C3%A0n%20KLPT_files/slide2_1.png" style="position:absolute; width:650px; height:auto; display:block !important; top:0; left:-390px;" /></div><div class="nivo-slice" name="4" style="left: 520px; width: 130px; height: 458px; opacity: 0.84852; overflow: hidden; top: 0px;"><img src="Trung%20t%C3%A2m%20ti%E1%BA%BFng%20H%C3%A0n%20SOFL%20-%20SOFL%20%ED%95%9C%20%EA%B5%AD%20%EC%96%B4%20%ED%95%99%20%EB%8B%B9%20Ti%E1%BA%BFng%20H%C3%A0n%20KLPT_files/slide2_1.png" style="position:absolute; width:650px; height:auto; display:block !important; top:0; left:-520px;" /></div>
                        </div>

                    </div>


                    <script type="text/javascript" src="~/content/themes/vedu/js/jquery.js"></script>

                    <script type="text/javascript">
                        $(window).load(function () {
                            $('#slider').nivoSlider();
                        });
                    </script>





                </div>

                <div class="main_head_end">
                    <div class="dk">
                        <div><a target="_blank" rel="nofollow" href="#">Đăng kí học</a></div>
                    </div>

                    <div class="clear"></div>

                    <div class="box_orange">
                        <div style="text-align: center;"> <a href="http://elearning.trungtamtienghan.edu.vn/" rel="nofollow" target="_blank">CHƯƠNG TRÌNH<br /> GIẢNG DẠY TRỰC TUYẾN</a></div>
                    </div>
                    <div class="box_orange">
                        <div style="text-align: center;"> <a href="http://elearning.trungtamtienghan.edu.vn/" rel="nofollow" target="_blank">TƯƠNG TÁC<br /> TRỰC TIẾP VỚI GIÁO VIÊN</a></div>
                    </div>
                    <div class="box_silver">
                        <div style="text-align: center;"> <a href="http://hoctructuyen1.1.trungtamtienghan.edu.vn/%20rel=" rel="nofollow" target="_blank">CHƯƠNG TRÌNH<br /> HOC ONLINE BẰNG VIDEO</a></div>
                    </div>
                    <div class="box_silver">
                        <div style="text-align: center;"> <a href="http://hoctructuyen1.1.trungtamtienghan.edu.vn/" rel="nofollow" target="_blank">MỌI LÚC MỌI NƠI&nbsp;<br /> TRÊN MỌI THIẾT BỊ</a></div>
                    </div>

                </div>


            </div>

            <div class="clear">

                <div class="box_white">
                    <div class="box_title">
                        <div class="noidung">
                            <div class="cat_title"><h2><a style="" href="http://trungtamtienghan.edu.vn/news/Kinh-nghiem-hoc-tieng-han/"> Kinh nghiệm học tiếng hàn </a></h2></div>

                            <div class="brt_new2">
                                <div class="tnd">


                                    <div class="title1"> <a href="http://trungtamtienghan.edu.vn/news/Kinh-nghiem-hoc-tieng-han/Hoc-tieng-Han-online-voi-nguoi-ban-xu-450/" title="Học tiếng Hàn online với người bản xứ"><h3>Học tiếng Hàn online với người...</h3></a> </div>
                                    <div class="textnd clearfix">
                                        <div class="left1"> <a href="http://trungtamtienghan.edu.vn/news/Kinh-nghiem-hoc-tieng-han/Hoc-tieng-Han-online-voi-nguoi-ban-xu-450/" title="Học tiếng Hàn online với người bản xứ"><img src="Trung%20t%C3%A2m%20ti%E1%BA%BFng%20H%C3%A0n%20SOFL%20-%20SOFL%20%ED%95%9C%20%EA%B5%AD%20%EC%96%B4%20%ED%95%99%20%EB%8B%B9%20Ti%E1%BA%BFng%20H%C3%A0n%20KLPT_files/bien-am-tieng-han.jpg" alt="Học tiếng Hàn online với người bản xứ" width="100" /></a> </div>
                                        Cơ hội học tiếng Hàn online với người bản xứ dành riêng cho những ai yêu mến và thích học tiếng Hàn....
                                    </div>



                                    <div class="l_new1">
                                        <a href="http://trungtamtienghan.edu.vn/news/Kinh-nghiem-hoc-tieng-han/Hoc-tieng-Han-truc-tuyen-Xu-huong-moi-cua-nguoi-Viet-449/" title="Học tiếng Hàn trực tuyến : Xu hướng mới của người Việt">Học tiếng Hàn trực tuyến : Xu...</a>

                                        <a href="http://trungtamtienghan.edu.vn/news/Kinh-nghiem-hoc-tieng-han/Luyen-thi-TOPIK-2017-voi-tieng-Han-truc-tuyen-SOFL-448/" title="Luyện thi TOPIK 2017 với tiếng Hàn trực tuyến SOFL">Luyện thi TOPIK 2017 với tiếng...</a>

                                        <a href="http://trungtamtienghan.edu.vn/news/Kinh-nghiem-hoc-tieng-han/Hoc-tieng-Han-online-5-phut-moi-ngay-444/" title="Học tiếng Hàn online 5 phút mỗi ngày">Học tiếng Hàn online 5 phút...</a>

                                        <a href="http://trungtamtienghan.edu.vn/news/Kinh-nghiem-hoc-tieng-han/TOP-3-website-hoc-tieng-Han-Online-tot-nhat-441/" title="TOP 3 website học tiếng Hàn Online tốt nhất">TOP 3 website học tiếng Hàn...</a>

                                    </div>
                                </div>



                                <a href="http://trungtamtienghan.edu.vn/news/Kinh-nghiem-hoc-tieng-han/"> <div style=" float=float right;margin-top:8px;margin-right:10px;=right;margin-top:8px;margin-right:10px; font-weight:bold;=font-weight:bold; color:#333"=color:#333">Xem thêm ...</div></a>

                            </div>
                        </div>
                    </div>
                    <div class="box_title">
                        <div class="noidung">
                            <div class="cat_title"><h2><a style="" href="http://trungtamtienghan.edu.vn/news/Tin-tuc-moi/"> Tin tức mới </a></h2></div>

                            <div class="brt_new2">
                                <div class="tnd">


                                    <div class="title1"> <a href="http://trungtamtienghan.edu.vn/news/Tin-tuc-moi/Gioi-thieu-chuong-trinh-hoc-tieng-Han-truc-tuyen-439/" title="Học tiếng Hàn trực tuyến đầu tiên tại Việt Nam"><h3>Học tiếng Hàn trực tuyến đầu...</h3></a> </div>
                                    <div class="textnd clearfix">
                                        <div class="left1"> <a href="http://trungtamtienghan.edu.vn/news/Tin-tuc-moi/Gioi-thieu-chuong-trinh-hoc-tieng-Han-truc-tuyen-439/" title="Học tiếng Hàn trực tuyến đầu tiên tại Việt Nam"><img src="Trung%20t%C3%A2m%20ti%E1%BA%BFng%20H%C3%A0n%20SOFL%20-%20SOFL%20%ED%95%9C%20%EA%B5%AD%20%EC%96%B4%20%ED%95%99%20%EB%8B%B9%20Ti%E1%BA%BFng%20H%C3%A0n%20KLPT_files/hoc-tieng-han-online.png" alt="Học tiếng Hàn trực tuyến đầu tiên tại Việt Nam" width="100" /></a> </div>
                                        Trung tâm tiếng Hàn SOFL cung cấp chương trình học tiếng Hàn trực tuyến, học tiếng Hàn online, tổ...
                                    </div>



                                    <div class="l_new1">
                                        <a href="http://trungtamtienghan.edu.vn/news/Tin-tuc-moi/Mien-phi-vao-cua-le-hoi-am-thuc-Viet-Han-2016-430/" title="Miễn phí vào cửa lễ hội ẩm thực Việt - Hàn 2016">Miễn phí vào cửa lễ hội ẩm...</a>

                                        <a href="http://trungtamtienghan.edu.vn/news/Tin-tuc-moi/Ru-nhau-tham-gia-Hangeul-nal-Festival-2016-424/" title="Rủ nhau tham gia Hangeul-nal Festival 2016">Rủ nhau tham gia Hangeul-nal...</a>

                                        <a href="http://trungtamtienghan.edu.vn/news/Tin-tuc-moi/Hoc-tieng-Han-truc-tuyen-SOFL-ban-da-thu-chua-422/" title="Học tiếng Hàn trực tuyến SOFL bạn đã thử chưa?">Học tiếng Hàn trực tuyến SOFL...</a>

                                        <a href="http://trungtamtienghan.edu.vn/news/Tin-tuc-moi/Trung-tam-tieng-Han-SOFL-co-tot-khong-415/" title="Trung tâm tiếng Hàn SOFL có tốt không?">Trung tâm tiếng Hàn SOFL có...</a>

                                    </div>
                                </div>



                                <a href="http://trungtamtienghan.edu.vn/news/Tin-tuc-moi/"> <div style=" float=float right;margin-top:8px;margin-right:10px;=right;margin-top:8px;margin-right:10px; font-weight:bold;=font-weight:bold; color:#333"=color:#333">Xem thêm ...</div></a>

                            </div>
                        </div>
                    </div>
                    <div class="box_title">
                        <div class="noidung">
                            <div class="cat_title"><h2><a style="" href="http://trungtamtienghan.edu.vn/news/Hoc-Nghe-Hieu-Qua/"> Kinh nghiệm luyện thi KLPT </a></h2></div>

                            <div class="brt_new2">
                                <div class="tnd">


                                    <div class="title1"> <a href="http://trungtamtienghan.edu.vn/news/Hoc-Nghe-Hieu-Qua/Lich-dang-ky-thi-TOPIK-52-T4-2017-473/" title="Lịch đăng ký thi TOPIK 52 - T4/2017"><h3>Lịch đăng ký thi TOPIK 52 -...</h3></a> </div>
                                    <div class="textnd clearfix">
                                        <div class="left1"> <a href="http://trungtamtienghan.edu.vn/news/Hoc-Nghe-Hieu-Qua/Lich-dang-ky-thi-TOPIK-52-T4-2017-473/" title="Lịch đăng ký thi TOPIK 52 - T4/2017"><img src="Trung%20t%C3%A2m%20ti%E1%BA%BFng%20H%C3%A0n%20SOFL%20-%20SOFL%20%ED%95%9C%20%EA%B5%AD%20%EC%96%B4%20%ED%95%99%20%EB%8B%B9%20Ti%E1%BA%BFng%20H%C3%A0n%20KLPT_files/dang-ki-thi-topik-lan-thu-51.png" alt="Lịch đăng ký thi TOPIK 52 - T4/2017" width="100" /></a> </div>
                                        Tiếp nối kì thi năng lực tiếng Hàn lần thứ 51 sẽ được diễn ra vào tháng 3 tới đây thì TOPIK 52 chính...
                                    </div>



                                    <div class="l_new1">
                                        <a href="http://trungtamtienghan.edu.vn/news/Hoc-Nghe-Hieu-Qua/Thong-bao-diem-thi-TOPIK-49-469/" title="Thông báo điểm thi TOPIK 49">Thông báo điểm thi TOPIK 49</a>

                                        <a href="http://trungtamtienghan.edu.vn/news/Hoc-Nghe-Hieu-Qua/Phan-biet-ngu-phap-TOPIK-hay-nham-lan-va-468/" title="Phân biệt ngữ pháp TOPIK hay nhầm lẫn 고 và  아/어서">Phân biệt ngữ pháp TOPIK hay...</a>

                                        <a href="http://trungtamtienghan.edu.vn/news/Hoc-Nghe-Hieu-Qua/Thong-bao-dang-ky-thi-TOPIK-2017-tai-Ha-Noi-TOPIK-51-459/" title="Thông báo đăng ký thi TOPIK 2017 tại Hà Nội - TOPIK 51">Thông báo đăng ký thi TOPIK...</a>

                                        <a href="http://trungtamtienghan.edu.vn/news/Hoc-Nghe-Hieu-Qua/Lich-thi-TOPIK-2017-moi-nhat-447/" title="Lịch thi TOPIK 2017 mới nhất">Lịch thi TOPIK 2017 mới nhất</a>

                                    </div>
                                </div>



                                <a href="http://trungtamtienghan.edu.vn/news/Hoc-Nghe-Hieu-Qua/"> <div style=" float=float right;margin-top:8px;margin-right:10px;=right;margin-top:8px;margin-right:10px; font-weight:bold;=font-weight:bold; color:#333"=color:#333">Xem thêm ...</div></a>

                            </div>
                        </div>
                    </div>
                    <div class="box_title">
                        <div class="noidung">
                            <div class="cat_title"><h2><a style="" href="http://trungtamtienghan.edu.vn/news/DU-HOC-HAN-QUOC/"> Du học Hàn Quốc </a></h2></div>

                            <div class="brt_new2">
                                <div class="tnd">


                                    <div class="title1"> <a href="http://trungtamtienghan.edu.vn/news/DU-HOC-HAN-QUOC/3-van-de-hay-hoi-khi-phong-van-VISA-Du-hoc-Han-Quoc-434/" title="3 vấn đề hay hỏi khi phỏng vấn VISA Du học Hàn Quốc"><h3>3 vấn đề hay hỏi khi phỏng vấn...</h3></a> </div>
                                    <div class="textnd clearfix">
                                        <div class="left1"> <a href="http://trungtamtienghan.edu.vn/news/DU-HOC-HAN-QUOC/3-van-de-hay-hoi-khi-phong-van-VISA-Du-hoc-Han-Quoc-434/" title="3 vấn đề hay hỏi khi phỏng vấn VISA Du học Hàn Quốc"><img src="Trung%20t%C3%A2m%20ti%E1%BA%BFng%20H%C3%A0n%20SOFL%20-%20SOFL%20%ED%95%9C%20%EA%B5%AD%20%EC%96%B4%20%ED%95%99%20%EB%8B%B9%20Ti%E1%BA%BFng%20H%C3%A0n%20KLPT_files/visa-du-hoc-han.jpg" alt="3 vấn đề hay hỏi khi phỏng vấn VISA Du học Hàn Quốc" width="100" /></a> </div>
                                        Làm thế nào để bạn có thể tự tin khi phỏng vấn visa du học Hàn Quốc. Hãy xem ngay 3 vấn đề hay hỏi...
                                    </div>



                                    <div class="l_new1">
                                        <a href="http://trungtamtienghan.edu.vn/news/Hoc-tieng-han-quoc-co-ban/Cac-cau-tieng-Han-phong-van-VISA-du-hoc-hay-gap-394/" title="Các câu tiếng Hàn phỏng vấn VISA du học hay gặp">Các câu tiếng Hàn phỏng vấn...</a>

                                        <a href="http://trungtamtienghan.edu.vn/news/DU-HOC-HAN-QUOC/Nen-lam-gi-khi-den-Thu-do-Seoul-Han-Quoc-337/" title="Nên làm gì khi đến Thủ đô Seoul Hàn Quốc">Nên làm gì khi đến Thủ đô...</a>

                                        <a href="http://trungtamtienghan.edu.vn/news/DU-HOC-HAN-QUOC/du-hoc-tai-han-quoc-110/" title="Du học tại Hàn Quốc">Du học tại Hàn Quốc</a>

                                        <a href="http://trungtamtienghan.edu.vn/news/DU-HOC-HAN-QUOC/DU-HOC-HAN-QUOC-69/" title="DU HỌC HÀN QUỐC">DU HỌC HÀN QUỐC</a>

                                    </div>
                                </div>



                                <a href="http://trungtamtienghan.edu.vn/news/DU-HOC-HAN-QUOC/"> <div style=" float=float right;margin-top:8px;margin-right:10px;=right;margin-top:8px;margin-right:10px; font-weight:bold;=font-weight:bold; color:#333"=color:#333">Xem thêm ...</div></a>

                            </div>
                        </div>
                    </div>
                    <div class="box_title">
                        <div class="noidung">
                            <div class="cat_title"><h2><a style="" href="http://trungtamtienghan.edu.vn/news/VINH-DANH-HOC-VIEN-XUAT-SAC/"> Vinh danh học viên xuất sắc </a></h2></div>

                            <div class="brt_new2">
                                <div class="tnd">


                                    <div class="title1"> <a href="http://trungtamtienghan.edu.vn/news/VINH-DANH-HOC-VIEN-XUAT-SAC/Ghe-tham-co-so-2-tai-44-Tran-Vy-Mai-Dich-Cau-Giay-368/" title="Ghé thăm cơ sở 2 tại 44 Trần Vỹ, Mai Dịch, Cầu Giấy"><h3>Ghé thăm cơ sở 2 tại 44 Trần Vỹ,...</h3></a> </div>
                                    <div class="textnd clearfix">
                                        <div class="left1"> <a href="http://trungtamtienghan.edu.vn/news/VINH-DANH-HOC-VIEN-XUAT-SAC/Ghe-tham-co-so-2-tai-44-Tran-Vy-Mai-Dich-Cau-Giay-368/" title="Ghé thăm cơ sở 2 tại 44 Trần Vỹ, Mai Dịch, Cầu Giấy"><img src="Trung%20t%C3%A2m%20ti%E1%BA%BFng%20H%C3%A0n%20SOFL%20-%20SOFL%20%ED%95%9C%20%EA%B5%AD%20%EC%96%B4%20%ED%95%99%20%EB%8B%B9%20Ti%E1%BA%BFng%20H%C3%A0n%20KLPT_files/trung-tam-tieng-han-sofl.jpg" alt="Ghé thăm cơ sở 2 tại 44 Trần Vỹ, Mai Dịch, Cầu Giấy" width="100" /></a> </div>
                                        Ghé thăm cơ sở 2 của trung tâm tiếng Hàn SOFL tại địa chỉ 44 Trần Vỹ, Mai Dịch, Cầu Giấy; bạn sẽ bất...
                                    </div>



                                    <div class="l_new1">
                                        <a href="http://trungtamtienghan.edu.vn/news/VINH-DANH-HOC-VIEN-XUAT-SAC/Hinh-anh-buoi-hoc-voi-thay-Jeon-Chang-Hee-359/" title="Hình ảnh buổi học với thầy Jeon Chang Hee">Hình ảnh buổi học với thầy...</a>

                                        <a href="http://trungtamtienghan.edu.vn/news/VINH-DANH-HOC-VIEN-XUAT-SAC/Buoi-hoc-lop-SC1-42-voi-thay-76/" title="Buổi học lớp SC1.42 với thầy 박영기">Buổi học lớp SC1.42 với thầy...</a>

                                        <a href="http://trungtamtienghan.edu.vn/news/VINH-DANH-HOC-VIEN-XUAT-SAC/Buoi-hoc-lop-SC1-42-voi-thay-75/" title="Buổi học lớp SC1.42 với thầy 박영기">Buổi học lớp SC1.42 với thầy...</a>

                                        <a href="http://trungtamtienghan.edu.vn/news/Tin-tuc-moi/Khai-giang-co-so-tai-Nguy-Nhu-Kon-Tum-Nhan-Chinh-Thanh-Xuan-61/" title="Khai giảng cơ sở tại Ngụy Như Kon Tum - Nhân Chính - Thanh Xuân">Khai giảng cơ sở tại Ngụy Như...</a>

                                    </div>
                                </div>



                                <a href="http://trungtamtienghan.edu.vn/news/VINH-DANH-HOC-VIEN-XUAT-SAC/"> <div style=" float=float right;margin-top:8px;margin-right:10px;=right;margin-top:8px;margin-right:10px; font-weight:bold;=font-weight:bold; color:#333"=color:#333">Xem thêm ...</div></a>

                            </div>
                        </div>
                    </div>
                    <div class="box_title">
                        <div class="noidung">
                            <div class="cat_title"><h2><a style="" href="http://trungtamtienghan.edu.vn/news/Hoc-tieng-han-quoc-co-ban/"> Học tiếng hàn quốc cơ bản </a></h2></div>

                            <div class="brt_new2">
                                <div class="tnd">


                                    <div class="title1"> <a href="http://trungtamtienghan.edu.vn/news/Hoc-tieng-han-quoc-co-ban/Chuc-mung-nam-moi-bang-tieng-Han-475/" title="Chúc mừng năm mới bằng tiếng Hàn"><h3>Chúc mừng năm mới bằng tiếng Hàn</h3></a> </div>
                                    <div class="textnd clearfix">
                                        <div class="left1"> <a href="http://trungtamtienghan.edu.vn/news/Hoc-tieng-han-quoc-co-ban/Chuc-mung-nam-moi-bang-tieng-Han-475/" title="Chúc mừng năm mới bằng tiếng Hàn"><img src="Trung%20t%C3%A2m%20ti%E1%BA%BFng%20H%C3%A0n%20SOFL%20-%20SOFL%20%ED%95%9C%20%EA%B5%AD%20%EC%96%B4%20%ED%95%99%20%EB%8B%B9%20Ti%E1%BA%BFng%20H%C3%A0n%20KLPT_files/chuc-mung-nam-moi1.png" alt="Chúc mừng năm mới bằng tiếng Hàn" width="100" /></a> </div>
                                        Năm mới sắp đến và trung tâm tiếng Hàn SOFL chúc tất cả các thầy cô giáo, các quý học viên, các bạn...
                                    </div>



                                    <div class="l_new1">
                                        <a href="http://trungtamtienghan.edu.vn/news/Hoc-tieng-han-quoc-co-ban/Cau-noi-Di-nhien-bang-tieng-Han-474/" title="Câu nói &quot; Dĩ nhiên&quot; bằng tiếng Hàn">Câu nói " Dĩ nhiên" bằng tiếng...</a>

                                        <a href="http://trungtamtienghan.edu.vn/news/Hoc-tieng-han-quoc-co-ban/Noi-tieng-Han-voi-mau-cau-Ai-day-470/" title="Nói tiếng Hàn với mẫu câu 누구세요?  (Ai đấy)">Nói tiếng Hàn với mẫu câu...</a>

                                        <a href="http://trungtamtienghan.edu.vn/news/Hoc-tieng-han-quoc-co-ban/Phan-biet-trong-tieng-Han-466/" title="Phân biệt 에게, 한테, 께 trong tiếng Hàn">Phân biệt 에게, 한테, 께 trong...</a>

                                        <a href="http://trungtamtienghan.edu.vn/news/Hoc-tieng-han-quoc-co-ban/The-moi-noi-tieng-Han-la-gi-464/" title="&quot;Thế mới nói&quot; tiếng Hàn là gì?">"Thế mới nói" tiếng Hàn là gì?</a>

                                    </div>
                                </div>



                                <a href="http://trungtamtienghan.edu.vn/news/Hoc-tieng-han-quoc-co-ban/"> <div style=" float=float right;margin-top:8px;margin-right:10px;=right;margin-top:8px;margin-right:10px; font-weight:bold;=font-weight:bold; color:#333"=color:#333">Xem thêm ...</div></a>

                            </div>
                        </div>
                    </div>
                    <div class="box_title">
                        <div class="noidung">
                            <div class="cat_title"><h2><a style="" href="http://trungtamtienghan.edu.vn/news/Thong-tin-xuat-khau-lao-dong/"> Thông tin xuất khẩu lao động </a></h2></div>

                            <div class="brt_new2">
                                <div class="tnd">


                                    <div class="title1"> <a href="http://trungtamtienghan.edu.vn/news/Thong-tin-xuat-khau-lao-dong/Ket-qua-Thi-Tieng-Han-XKLD-nganh-Ngu-nghiep-lay-chuan-60-diem-451/" title="Kết quả Thi Tiếng Hàn XKLĐ ngành Ngư nghiệp lấy chuẩn 60 điểm"><h3>Kết quả Thi Tiếng Hàn XKLĐ ngành...</h3></a> </div>
                                    <div class="textnd clearfix">
                                        <div class="left1"> <a href="http://trungtamtienghan.edu.vn/news/Thong-tin-xuat-khau-lao-dong/Ket-qua-Thi-Tieng-Han-XKLD-nganh-Ngu-nghiep-lay-chuan-60-diem-451/" title="Kết quả Thi Tiếng Hàn XKLĐ ngành Ngư nghiệp lấy chuẩn 60 điểm"><img src="Trung%20t%C3%A2m%20ti%E1%BA%BFng%20H%C3%A0n%20SOFL%20-%20SOFL%20%ED%95%9C%20%EA%B5%AD%20%EC%96%B4%20%ED%95%99%20%EB%8B%B9%20Ti%E1%BA%BFng%20H%C3%A0n%20KLPT_files/thi-tieng-han-xuat-khau-lao-dong1.jpg" alt="Kết quả Thi Tiếng Hàn XKLĐ ngành Ngư nghiệp lấy chuẩn 60 điểm" width="100" /></a> </div>
                                        Trung tâm tiếng Hàn SOFL thông báo đã có kết quả kỳ thi tiếng Hàn trong ngành ngư nghiệp ngày...
                                    </div>



                                    <div class="l_new1">
                                        <a href="http://trungtamtienghan.edu.vn/news/Thong-tin-xuat-khau-lao-dong/Diem-chuan-EPS-TOPIK-lan-thu-11-la-152-diem-425/" title="Điểm chuẩn EPS-TOPIK lần thứ 11 là 152 điểm">Điểm chuẩn EPS-TOPIK lần thứ...</a>

                                        <a href="http://trungtamtienghan.edu.vn/news/Thong-tin-xuat-khau-lao-dong/Thong-bao-danh-sach-thi-sinh-do-EPS-TOPIK-lan-thu-11-421/" title="Thông báo danh sách thí sinh đỗ EPS-TOPIK lần thứ 11">Thông báo danh sách thí sinh...</a>

                                        <a href="http://trungtamtienghan.edu.vn/news/Thong-tin-xuat-khau-lao-dong/Thong-bao-thi-tieng-Han-CBT-Quy-IV-2016-419/" title="Thông báo thi tiếng Hàn CBT Quý IV.2016">Thông báo thi tiếng Hàn CBT...</a>

                                        <a href="http://trungtamtienghan.edu.vn/news/Thong-tin-xuat-khau-lao-dong/Thong-bao-thoi-gian-va-dia-diem-thi-EPS-lan-thu-11-414/" title="Thông báo thời gian và địa điểm thi EPS lần thứ 11">Thông báo thời gian và địa...</a>

                                    </div>
                                </div>



                                <a href="http://trungtamtienghan.edu.vn/news/Thong-tin-xuat-khau-lao-dong/"> <div style=" float=float right;margin-top:8px;margin-right:10px;=right;margin-top:8px;margin-right:10px; font-weight:bold;=font-weight:bold; color:#333"=color:#333">Xem thêm ...</div></a>

                            </div>
                        </div>
                    </div>
                    <div class="box_title">
                        <div class="noidung">
                            <div class="cat_title"><h2><a style="" href="http://trungtamtienghan.edu.vn/news/GOC-VAN-HOA-HAN-QUOC/"> Góc văn hóa Hàn Quốc </a></h2></div>

                            <div class="brt_new2">
                                <div class="tnd">


                                    <div class="title1"> <a href="http://trungtamtienghan.edu.vn/news/GOC-VAN-HOA-HAN-QUOC/5-le-hoi-mua-dong-o-Han-Quoc-dac-sac-nhat-471/" title="5 lễ hội mùa đông ở Hàn Quốc đặc sắc nhất"><h3>5 lễ hội mùa đông ở Hàn Quốc đặc...</h3></a> </div>
                                    <div class="textnd clearfix">
                                        <div class="left1"> <a href="http://trungtamtienghan.edu.vn/news/GOC-VAN-HOA-HAN-QUOC/5-le-hoi-mua-dong-o-Han-Quoc-dac-sac-nhat-471/" title="5 lễ hội mùa đông ở Hàn Quốc đặc sắc nhất"><img src="Trung%20t%C3%A2m%20ti%E1%BA%BFng%20H%C3%A0n%20SOFL%20-%20SOFL%20%ED%95%9C%20%EA%B5%AD%20%EC%96%B4%20%ED%95%99%20%EB%8B%B9%20Ti%E1%BA%BFng%20H%C3%A0n%20KLPT_files/le-hoi-cau-ca-bang.jpg" alt="5 lễ hội mùa đông ở Hàn Quốc đặc sắc nhất" width="100" /></a> </div>
                                        Mùa đông ở Hàn Quốc thường có tuyết rơi. Du khách đến với Hàn Quốc vào mùa đông thì không thể ghé...
                                    </div>



                                    <div class="l_new1">
                                        <a href="http://trungtamtienghan.edu.vn/news/GOC-VAN-HOA-HAN-QUOC/Ngon-ngu-Teen-danh-cho-cac-ban-chat-tieng-Han-438/" title="Ngôn ngữ Teen dành cho các bạn chat tiếng Hàn">Ngôn ngữ Teen dành cho các bạn...</a>

                                        <a href="http://trungtamtienghan.edu.vn/news/GOC-VAN-HOA-HAN-QUOC/Le-hoi-phao-hoa-quoc-te-Seoul-2016-416/" title="Lễ hội pháo hoa quốc tế Seoul 2016">Lễ hội pháo hoa quốc tế Seoul...</a>

                                        <a href="http://trungtamtienghan.edu.vn/news/GOC-VAN-HOA-HAN-QUOC/Nhung-hinh-anh-dep-ve-mua-thu-Han-Quoc-410/" title="Những hình ảnh đẹp về mùa thu Hàn Quốc">Những hình ảnh đẹp về mùa thu...</a>

                                        <a href="http://trungtamtienghan.edu.vn/news/GOC-VAN-HOA-HAN-QUOC/Tim-hieu-ve-banh-trung-thu-Han-Quoc-401/" title="Tìm hiểu về bánh trung thu Hàn Quốc">Tìm hiểu về bánh trung thu Hàn...</a>

                                    </div>
                                </div>



                                <a href="http://trungtamtienghan.edu.vn/news/GOC-VAN-HOA-HAN-QUOC/"> <div style=" float=float right;margin-top:8px;margin-right:10px;=right;margin-top:8px;margin-right:10px; font-weight:bold;=font-weight:bold; color:#333"=color:#333">Xem thêm ...</div></a>

                            </div>
                        </div>
                    </div>
                    <div class="box_title">
                        <div class="noidung">
                            <div class="cat_title"><h2><a style="" href="http://trungtamtienghan.edu.vn/news/Tai-lieu-tieng-Han/"> Tài liệu tiếng Hàn </a></h2></div>

                            <div class="brt_new2">
                                <div class="tnd">


                                    <div class="title1"> <a href="http://trungtamtienghan.edu.vn/news/Tai-lieu-tieng-Han/Tron-bo-giao-trinh-Tieng-Han-Tong-hop-1-6-457/" title="Trọn bộ giáo trình Tiếng Hàn Tổng hợp 1-6"><h3>Trọn bộ giáo trình Tiếng Hàn...</h3></a> </div>
                                    <div class="textnd clearfix">
                                        <div class="left1"> <a href="http://trungtamtienghan.edu.vn/news/Tai-lieu-tieng-Han/Tron-bo-giao-trinh-Tieng-Han-Tong-hop-1-6-457/" title="Trọn bộ giáo trình Tiếng Hàn Tổng hợp 1-6"><img src="Trung%20t%C3%A2m%20ti%E1%BA%BFng%20H%C3%A0n%20SOFL%20-%20SOFL%20%ED%95%9C%20%EA%B5%AD%20%EC%96%B4%20%ED%95%99%20%EB%8B%B9%20Ti%E1%BA%BFng%20H%C3%A0n%20KLPT_files/tieng-han-tong-hop.png" alt="Trọn bộ giáo trình Tiếng Hàn Tổng hợp 1-6" width="100" /></a> </div>
                                        Trung tâm tiếng Hàn SOFL gửi bạn link download trọn bộ 6 cuốn giáo trình tiếng Hàn tổng hợp dành cho...
                                    </div>



                                    <div class="l_new1">
                                        <a href="http://trungtamtienghan.edu.vn/news/Tai-lieu-tieng-Han/Sach-tieng-Han-cho-co-dau-Viet-456/" title="Sách tiếng Hàn cho cô dâu Việt">Sách tiếng Hàn cho cô dâu Việt</a>

                                        <a href="http://trungtamtienghan.edu.vn/news/Tai-lieu-tieng-Han/Ebook-luyen-viet-tieng-Han-online-440/" title="Ebook luyện viết tiếng Hàn online">Ebook luyện viết tiếng Hàn...</a>

                                        <a href="http://trungtamtienghan.edu.vn/news/Tai-lieu-tieng-Han/Download-va-cai-dat-font-tieng-Han-427/" title="Download và cài đặt font tiếng Hàn">Download và cài đặt font tiếng...</a>

                                        <a href="http://trungtamtienghan.edu.vn/news/Tai-lieu-tieng-Han/Chia-se-sach-hay-The-Standard-Textbook-for-EPS-TOPIK-406/" title="Chia sẻ sách hay The Standard Textbook for EPS-TOPIK">Chia sẻ sách hay The Standard...</a>

                                    </div>
                                </div>



                                <a href="http://trungtamtienghan.edu.vn/news/Tai-lieu-tieng-Han/"> <div style=" float=float right;margin-top:8px;margin-right:10px;=right;margin-top:8px;margin-right:10px; font-weight:bold;=font-weight:bold; color:#333"=color:#333">Xem thêm ...</div></a>

                            </div>
                        </div>
                    </div>
                    <div class="box_title">
                        <div class="noidung">
                            <div class="cat_title"><h2><a style="" href="http://trungtamtienghan.edu.vn/news/Su-kien/"> Tin nội bộ </a></h2></div>

                            <div class="brt_new2">
                                <div class="tnd">


                                    <div class="title1"> <a href="http://trungtamtienghan.edu.vn/news/Su-kien/Lich-nghi-tet-Duong-lich-2017-476/" title="Lịch nghỉ tết Dương lịch 2017"><h3>Lịch nghỉ tết Dương lịch 2017</h3></a> </div>
                                    <div class="textnd clearfix">
                                        <div class="left1"> <a href="http://trungtamtienghan.edu.vn/news/Su-kien/Lich-nghi-tet-Duong-lich-2017-476/" title="Lịch nghỉ tết Dương lịch 2017"><img src="Trung%20t%C3%A2m%20ti%E1%BA%BFng%20H%C3%A0n%20SOFL%20-%20SOFL%20%ED%95%9C%20%EA%B5%AD%20%EC%96%B4%20%ED%95%99%20%EB%8B%B9%20Ti%E1%BA%BFng%20H%C3%A0n%20KLPT_files/chuc-mung-nam-moi2_1.jpg" alt="Lịch nghỉ tết Dương lịch 2017" width="100" /></a> </div>
                                        Trung tâm tiếng Hàn SOFL thông báo lịch nghỉ tết Dương lịch, 1/1/2017. Quý học viên, đối tác và toàn...
                                    </div>



                                    <div class="l_new1">
                                        <a href="http://trungtamtienghan.edu.vn/news/Su-kien/Hoc-thi-TOPIK-1-2017-ngay-tai-nha-460/" title="Học thi TOPIK 1 2017 ngay tại nhà">Học thi TOPIK 1 2017 ngay tại...</a>

                                        <a href="http://trungtamtienghan.edu.vn/news/Su-kien/Chuc-mung-ngay-Nha-Giao-20-11-437/" title="Chúc mừng ngày Nhà Giáo 20-11">Chúc mừng ngày Nhà Giáo 20-11</a>

                                        <a href="http://trungtamtienghan.edu.vn/news/Su-kien/Dang-ky-hoc-tieng-Han-truc-tuyen-SOFL-420/" title="Đăng ký học tiếng Hàn trực tuyến SOFL">Đăng ký học tiếng Hàn trực...</a>

                                        <a href="http://trungtamtienghan.edu.vn/news/Su-kien/Khai-truong-co-so-4-tai-Long-Bien-10-9-2016-396/" title="Khai trương cơ sở 4 tại Long Biên 10/9/2016">Khai trương cơ sở 4 tại Long...</a>

                                    </div>
                                </div>



                                <a href="http://trungtamtienghan.edu.vn/news/Su-kien/"> <div style=" float=float right;margin-top:8px;margin-right:10px;=right;margin-top:8px;margin-right:10px; font-weight:bold;=font-weight:bold; color:#333"=color:#333">Xem thêm ...</div></a>

                            </div>
                        </div>
                    </div>
                    <div class="box_title">
                        <div class="noidung">
                            <div class="cat_title"><h2><a style="" href="http://trungtamtienghan.edu.vn/news/Am-nhac-va-giai-tri/"> Âm nhạc và giải trí </a></h2></div>

                            <div class="brt_new2">
                                <div class="tnd">


                                    <div class="title1"> <a href="http://trungtamtienghan.edu.vn/news/Am-nhac-va-giai-tri/Nhac-phim-Huyen-Thoai-Bien-Xanh-Love-Story-472/" title="Nhạc phim Huyền Thoại Biển Xanh - Love Story"><h3>Nhạc phim Huyền Thoại Biển Xanh...</h3></a> </div>
                                    <div class="textnd clearfix">
                                        <div class="left1"> <a href="http://trungtamtienghan.edu.vn/news/Am-nhac-va-giai-tri/Nhac-phim-Huyen-Thoai-Bien-Xanh-Love-Story-472/" title="Nhạc phim Huyền Thoại Biển Xanh - Love Story"><img src="Trung%20t%C3%A2m%20ti%E1%BA%BFng%20H%C3%A0n%20SOFL%20-%20SOFL%20%ED%95%9C%20%EA%B5%AD%20%EC%96%B4%20%ED%95%99%20%EB%8B%B9%20Ti%E1%BA%BFng%20H%C3%A0n%20KLPT_files/nhac-phim-huyen-thoai-bien-xanh1.jpg" alt="Nhạc phim Huyền Thoại Biển Xanh - Love Story" width="100" /></a> </div>
                                        Cùng thưởng thức ca khúc Love Story - OST Huyền Thoại Biển Xanh đang gây sốt hiện nay qua giọng ca...
                                    </div>



                                    <div class="l_new1">
                                        <a href="http://trungtamtienghan.edu.vn/news/Am-nhac-va-giai-tri/Tieng-Han-Mi-chot-so-la-gi-467/" title="Tiếng Hàn &quot;Mì chọt số&quot; là gì?">Tiếng Hàn "Mì chọt số" là gì?</a>

                                        <a href="http://trungtamtienghan.edu.vn/news/Am-nhac-va-giai-tri/15-tu-quen-tai-cua-mot-phim-Han-465/" title="15 từ quen tai của 'mọt phim' Hàn">15 từ quen tai của 'mọt phim'...</a>

                                        <a href="http://trungtamtienghan.edu.vn/news/Am-nhac-va-giai-tri/Khai-mac-va-bieu-dien-K-Tigers-tai-Ha-Noi-442/" title="Khai mạc và biểu diễn K-Tigers tại Hà Nội">Khai mạc và biểu diễn K-Tigers...</a>

                                        <a href="http://trungtamtienghan.edu.vn/news/Am-nhac-va-giai-tri/Hoc-tieng-Han-qua-bai-hat-No-One-Else-417/" title="Học tiếng Hàn qua bài hát No One Else">Học tiếng Hàn qua bài hát No...</a>

                                    </div>
                                </div>



                                <a href="http://trungtamtienghan.edu.vn/news/Am-nhac-va-giai-tri/"> <div style=" float=float right;margin-top:8px;margin-right:10px;=right;margin-top:8px;margin-right:10px; font-weight:bold;=font-weight:bold; color:#333"=color:#333">Xem thêm ...</div></a>

                            </div>
                        </div>
                    </div>
                    <div class="box_title">
                        <div class="noidung">
                            <div class="cat_title"><h2><a style="" href="http://trungtamtienghan.edu.vn/news/AM-THUC-HAN-QUOC/"> Ẩm thực Hàn Quốc </a></h2></div>

                            <div class="brt_new2">
                                <div class="tnd">


                                    <div class="title1"> <a href="http://trungtamtienghan.edu.vn/news/AM-THUC-HAN-QUOC/Cho-buffet-truyen-thong-ngon-bo-re-giua-long-Seoul-435/" title="Chợ buffet truyền thống ngon bổ rẻ giữa lòng Seoul"><h3>Chợ buffet truyền thống ngon bổ...</h3></a> </div>
                                    <div class="textnd clearfix">
                                        <div class="left1"> <a href="http://trungtamtienghan.edu.vn/news/AM-THUC-HAN-QUOC/Cho-buffet-truyen-thong-ngon-bo-re-giua-long-Seoul-435/" title="Chợ buffet truyền thống ngon bổ rẻ giữa lòng Seoul"><img src="Trung%20t%C3%A2m%20ti%E1%BA%BFng%20H%C3%A0n%20SOFL%20-%20SOFL%20%ED%95%9C%20%EA%B5%AD%20%EC%96%B4%20%ED%95%99%20%EB%8B%B9%20Ti%E1%BA%BFng%20H%C3%A0n%20KLPT_files/cho-han-quoc3.jpg" alt="Chợ buffet truyền thống ngon bổ rẻ giữa lòng Seoul" width="100" /></a> </div>
                                        Ghé thăm thủ đô Seoul, Hàn Quốc ăn gì thì ngon bổ rẻ? Trung tâm tiếng Hàn SOFL gợi ý cho bạn một địa...
                                    </div>



                                    <div class="l_new1">
                                        <a href="http://trungtamtienghan.edu.vn/news/AM-THUC-HAN-QUOC/Nhung-diem-tuong-dong-va-khac-biet-trong-am-thuc-Viet-Han-400/" title="Những điểm tương đồng và khác biệt trong ẩm thực Việt - Hàn">Những điểm tương đồng và khác...</a>

                                        <a href="http://trungtamtienghan.edu.vn/news/AM-THUC-HAN-QUOC/Nguoi-Han-Quoc-an-gi-vao-mua-he-365/" title="Người Hàn Quốc ăn gì vào mùa hè?">Người Hàn Quốc ăn gì vào mùa...</a>

                                        <a href="http://trungtamtienghan.edu.vn/news/AM-THUC-HAN-QUOC/Kham-pha-do-nuong-Han-Quoc-33/" title="Khám phá đồ nướng Hàn Quốc">Khám phá đồ nướng Hàn Quốc</a>

                                        <a href="http://trungtamtienghan.edu.vn/news/AM-THUC-HAN-QUOC/Kimbap-com-cuon-Han-quoc-30/" title="Kimbap - cơm cuốn Hàn quốc">Kimbap - cơm cuốn Hàn quốc</a>

                                    </div>
                                </div>



                                <a href="http://trungtamtienghan.edu.vn/news/AM-THUC-HAN-QUOC/"> <div style=" float=float right;margin-top:8px;margin-right:10px;=right;margin-top:8px;margin-right:10px; font-weight:bold;=font-weight:bold; color:#333"=color:#333">Xem thêm ...</div></a>

                            </div>
                        </div>
                    </div>

                </div>


            </div>
            &nbsp;
            <img alt="" src="Trung%20t%C3%A2m%20ti%E1%BA%BFng%20H%C3%A0n%20SOFL%20-%20SOFL%20%ED%95%9C%20%EA%B5%AD%20%EC%96%B4%20%ED%95%99%20%EB%8B%B9%20Ti%E1%BA%BFng%20H%C3%A0n%20KLPT_files/lakyta-image_1.png" style="width: 100%;" />
            <img alt="ve-chung-toi" src="Trung%20t%C3%A2m%20ti%E1%BA%BFng%20H%C3%A0n%20SOFL%20-%20SOFL%20%ED%95%9C%20%EA%B5%AD%20%EC%96%B4%20%ED%95%99%20%EB%8B%B9%20Ti%E1%BA%BFng%20H%C3%A0n%20KLPT_files/ve-chung-toi.png" style="width: 100%;" />
            <div class="thuvien">
                <h3 class="header">Hình ảnh trung tâm</h3>
                <script src="Trung%20t%C3%A2m%20ti%E1%BA%BFng%20H%C3%A0n%20SOFL%20-%20SOFL%20%ED%95%9C%20%EA%B5%AD%20%EC%96%B4%20%ED%95%99%20%EB%8B%B9%20Ti%E1%BA%BFng%20H%C3%A0n%20KLPT_files/MSClass.js" type="text/javascript"></script>
                <div id="rol" class="thu-vien" style="overflow: hidden; width: 1180px; height: 180px;">
                    <table cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr>
                                <td>

                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <img src="Trung%20t%C3%A2m%20ti%E1%BA%BFng%20H%C3%A0n%20SOFL%20-%20SOFL%20%ED%95%9C%20%EA%B5%AD%20%EC%96%B4%20%ED%95%99%20%EB%8B%B9%20Ti%E1%BA%BFng%20H%C3%A0n%20KLPT_files/1.png" alt="thu-vien-anh" height="150px" />
                                                </td>

                                                <td>
                                                    <img src="Trung%20t%C3%A2m%20ti%E1%BA%BFng%20H%C3%A0n%20SOFL%20-%20SOFL%20%ED%95%9C%20%EA%B5%AD%20%EC%96%B4%20%ED%95%99%20%EB%8B%B9%20Ti%E1%BA%BFng%20H%C3%A0n%20KLPT_files/9.jpg" alt="thu-vien-anh" height="150px" />
                                                </td>

                                                <td>
                                                    <img src="Trung%20t%C3%A2m%20ti%E1%BA%BFng%20H%C3%A0n%20SOFL%20-%20SOFL%20%ED%95%9C%20%EA%B5%AD%20%EC%96%B4%20%ED%95%99%20%EB%8B%B9%20Ti%E1%BA%BFng%20H%C3%A0n%20KLPT_files/11.png" alt="thu-vien-anh" height="150px" />
                                                </td>

                                                <td>
                                                    <img src="Trung%20t%C3%A2m%20ti%E1%BA%BFng%20H%C3%A0n%20SOFL%20-%20SOFL%20%ED%95%9C%20%EA%B5%AD%20%EC%96%B4%20%ED%95%99%20%EB%8B%B9%20Ti%E1%BA%BFng%20H%C3%A0n%20KLPT_files/3.png" alt="thu-vien-anh" height="150px" />
                                                </td>

                                                <td>
                                                    <img src="Trung%20t%C3%A2m%20ti%E1%BA%BFng%20H%C3%A0n%20SOFL%20-%20SOFL%20%ED%95%9C%20%EA%B5%AD%20%EC%96%B4%20%ED%95%99%20%EB%8B%B9%20Ti%E1%BA%BFng%20H%C3%A0n%20KLPT_files/10.png" alt="thu-vien-anh" height="150px" />
                                                </td>

                                                <td>
                                                    <img src="Trung%20t%C3%A2m%20ti%E1%BA%BFng%20H%C3%A0n%20SOFL%20-%20SOFL%20%ED%95%9C%20%EA%B5%AD%20%EC%96%B4%20%ED%95%99%20%EB%8B%B9%20Ti%E1%BA%BFng%20H%C3%A0n%20KLPT_files/17.png" alt="thu-vien-anh" height="150px" />
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>

                                </td>
                                <td>

                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <img src="Trung%20t%C3%A2m%20ti%E1%BA%BFng%20H%C3%A0n%20SOFL%20-%20SOFL%20%ED%95%9C%20%EA%B5%AD%20%EC%96%B4%20%ED%95%99%20%EB%8B%B9%20Ti%E1%BA%BFng%20H%C3%A0n%20KLPT_files/1.png" alt="thu-vien-anh" height="150px" />
                                                </td>

                                                <td>
                                                    <img src="Trung%20t%C3%A2m%20ti%E1%BA%BFng%20H%C3%A0n%20SOFL%20-%20SOFL%20%ED%95%9C%20%EA%B5%AD%20%EC%96%B4%20%ED%95%99%20%EB%8B%B9%20Ti%E1%BA%BFng%20H%C3%A0n%20KLPT_files/9.jpg" alt="thu-vien-anh" height="150px" />
                                                </td>

                                                <td>
                                                    <img src="Trung%20t%C3%A2m%20ti%E1%BA%BFng%20H%C3%A0n%20SOFL%20-%20SOFL%20%ED%95%9C%20%EA%B5%AD%20%EC%96%B4%20%ED%95%99%20%EB%8B%B9%20Ti%E1%BA%BFng%20H%C3%A0n%20KLPT_files/11.png" alt="thu-vien-anh" height="150px" />
                                                </td>

                                                <td>
                                                    <img src="Trung%20t%C3%A2m%20ti%E1%BA%BFng%20H%C3%A0n%20SOFL%20-%20SOFL%20%ED%95%9C%20%EA%B5%AD%20%EC%96%B4%20%ED%95%99%20%EB%8B%B9%20Ti%E1%BA%BFng%20H%C3%A0n%20KLPT_files/3.png" alt="thu-vien-anh" height="150px" />
                                                </td>

                                                <td>
                                                    <img src="Trung%20t%C3%A2m%20ti%E1%BA%BFng%20H%C3%A0n%20SOFL%20-%20SOFL%20%ED%95%9C%20%EA%B5%AD%20%EC%96%B4%20%ED%95%99%20%EB%8B%B9%20Ti%E1%BA%BFng%20H%C3%A0n%20KLPT_files/10.png" alt="thu-vien-anh" height="150px" />
                                                </td>

                                                <td>
                                                    <img src="Trung%20t%C3%A2m%20ti%E1%BA%BFng%20H%C3%A0n%20SOFL%20-%20SOFL%20%ED%95%9C%20%EA%B5%AD%20%EC%96%B4%20%ED%95%99%20%EB%8B%B9%20Ti%E1%BA%BFng%20H%C3%A0n%20KLPT_files/17.png" alt="thu-vien-anh" height="150px" />
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <script language="javascript">
                    var marquee1 = new Marquee("rol")
                    marquee1.Direction = "left";
                    marquee1.Step = 2;
                    marquee1.Width = 1180;
                    marquee1.Height = 180;
                    marquee1.Timer = 100;
                    marquee1.DelayTime = 0;
                    marquee1.WaitTime = 0;
                    marquee1.ScrollStep = 25;
                    marquee1.Start();
                </script>













            </div>
            <div class="thuvien">
                <h3 class="header">Ý kiến học viên</h3>

                <div class="hoc-vien">
                    <div class="chia-se">

                        <p>
                            <span>“</span>
                        </p><p>
                            Thật ra trước khi đến với SOFL em cũng đã thử
                            đăng kí học ở một số trung tâm khác nhưng em đều thu được kết quả không
                            như mong muốn. Nhưng sau khi học tại SOFL em thấy mình đã có sự lựa chọn
                            đúng đắn.
                        </p>
                        <span>”</span>
                        <p></p>
                        <div class="docgia">Nguyễn Hoàn Phương</div>
                        <img alt="hoc-vien" src="Trung%20t%C3%A2m%20ti%E1%BA%BFng%20H%C3%A0n%20SOFL%20-%20SOFL%20%ED%95%9C%20%EA%B5%AD%20%EC%96%B4%20%ED%95%99%20%EB%8B%B9%20Ti%E1%BA%BFng%20H%C3%A0n%20KLPT_files/huong.jpg" />

                    </div>
                </div>

                <div class="hoc-vien">
                    <div class="chia-se">

                        <p>
                            <span>“</span>
                        </p><p>
                            Vì nhu cầu phục vụ cho công việc mà mình rất cần
                            học tiếng Hàn nhưng lúc đầu băn khoăn và đắn đo lắm. Sau được bạn bè
                            giới thiệu đến SOFL và giờ thì mình đã nói tiếng Hàn trôi chảy rồi.
                        </p>
                        <span>”</span>
                        <p></p>
                        <div class="docgia">Lê Văn Tuyên</div>
                        <img alt="hoc-vien" src="Trung%20t%C3%A2m%20ti%E1%BA%BFng%20H%C3%A0n%20SOFL%20-%20SOFL%20%ED%95%9C%20%EA%B5%AD%20%EC%96%B4%20%ED%95%99%20%EB%8B%B9%20Ti%E1%BA%BFng%20H%C3%A0n%20KLPT_files/quy.jpg" />

                    </div>
                </div>

                <div class="hoc-vien">
                    <div class="chia-se">

                        <p>
                            <span>“</span>
                        </p><p>
                            Em đến với SOFL một cách rất tình cờ đã học qua
                            nhiều trung tâm nhưng em thấy SOFL là hay nhất tốt nhất, hiệu quả nhất.
                            Đúng với phương châm của trung tâm.
                        </p>
                        <span>”</span>
                        <p></p>
                        <div class="docgia">Lê Văn Long</div>
                        <img alt="hoc-vien" src="Trung%20t%C3%A2m%20ti%E1%BA%BFng%20H%C3%A0n%20SOFL%20-%20SOFL%20%ED%95%9C%20%EA%B5%AD%20%EC%96%B4%20%ED%95%99%20%EB%8B%B9%20Ti%E1%BA%BFng%20H%C3%A0n%20KLPT_files/tiuyen.jpg" />

                    </div>
                </div>


            </div>


        </div>
        <div class="clear"><br /></div>

        <div class="bottom_f">

            <img alt="" src="Trung%20t%C3%A2m%20ti%E1%BA%BFng%20H%C3%A0n%20SOFL%20-%20SOFL%20%ED%95%9C%20%EA%B5%AD%20%EC%96%B4%20%ED%95%99%20%EB%8B%B9%20Ti%E1%BA%BFng%20H%C3%A0n%20KLPT_files/ho-tro_1_1_1.png" style="width: 100%;" />
            <link rel="stylesheet" type="text/css" href="~/content/themes/vedu/css/styles-trong.css" />


            <div class="contentwrapper">
                <div id="cssmenu2">
                    <ul>
                        <li><a title="Về chúng tôi" href="#">Về chúng tôi</a></li>

                        <li><a title="Liên hệ" href="#">Liên hệ</a></li>

                        <li><a title="Cho doanh nghiệp" href="http://trungtamtienghan.edu.vn/ho-tro/Tin-khac/Cho-doanh-nghiep-1/">Cho doanh nghiệp</a></li>

                        <li><a title="Cơ hội nghề nghiệp" href="http://trungtamtienghan.edu.vn/ho-tro/Tin-khac/Co-hoi-nghe-nghiep-2/">Cơ hội nghề nghiệp</a></li>

                        <li><a title="Trở thành giảng viên" href="http://trungtamtienghan.edu.vn/ho-tro/Tro-thanh-giang-vien/Trung-Tam-Han-Ngu-SOFL-Tuyen-Dung-Giang-Vien-Tieng-Han-7/">Trở thành giảng viên</a></li>

                        <li><a title="Facebook" href="https://www.facebook.com/TrungTamTiengHan/">Facebook</a></li>

                        <li><a title="Liên kết" href="#">Liên kết</a></li>

                    </ul>
                </div>
            </div>




        </div>

        <div id="footer" class="clearfix">

            <div class="contentwrapper">
                <div class="lop40">
                    <div class="xbox">
                        <ul>
                            <li style="float:left ">
                                <img src="Trung%20t%C3%A2m%20ti%E1%BA%BFng%20H%C3%A0n%20SOFL%20-%20SOFL%20%ED%95%9C%20%EA%B5%AD%20%EC%96%B4%20%ED%95%99%20%EB%8B%B9%20Ti%E1%BA%BFng%20H%C3%A0n%20KLPT_files/logo-chan_4_1.png" style="float:left ; width:150px; padding: 3px 15px" />
                                <div class="chantrang">
                                    Là đơn vị đào tạo tiếng Hàn uy tín - chất lượng
                                    và lớn số 1 Hà Nội, Trung tâm Tiếng Hàn SOFL với
                                    lịch sử 10 năm hình thành và phát triển, cùng đội
                                    ngũ giáo viên Việt - Hàn giàu kinh nghiệm với phương
                                    pháp giảng dạy tân tiến, SOFL đã đào tạo, cung
                                    cấp hàng nghìn nhân sự giỏi tiếng Hàn cho xã hội.
                                </div>
                            </li>

                        </ul>
                        <div class="clear"></div>
                        <div style="margin: 30px 5px 10px 5px;text-align:right">

                            <form action="/newsnotice/" method="post">
                                <p style="text-align:left; padding:3px 3px 3px 80px"><b>Đăng kí nhận thư từ SOFL</b></p>
                                <input name="email" value="Nhập Email" class="nhan-tin" onclick="if(value=='Nhập Email')value=''" type="text" />
                                <input value="Đăng kí" name="do" class="dk-nhan-tin" type="submit" />
                            </form>

                        </div>

                        <script type="text/javascript">
                            $(document).ready(function () {
                                $('input[name=do]').click(function () {
                                    var nv_mailfilter = /^[_\.0-9a-z-]+([0-9a-z][0-9a-z-]+\.)+[a-z]{2,6}$/;
                                    var email = $('input[name=email]').val();

                                    if (email == '') {
                                        alert('Vui lòng nhập email cần đăng ký');
                                        return false;
                                    }

                                    if (!nv_mailfilter.test(email)) {
                                        alert('Email không hợp lệ');
                                        return false;
                                    }

                                    $.ajax({
                                        type: "get",
                                        url: '/' + 'index.php?' + 'nv=newsnotice&op=checkmail',
                                        data: "email=" + email,
                                        success: function (a) {
                                            if (a > 0) {
                                                alert('Email này đã được đăng ký');
                                            }
                                            else {
                                                window.location.href = '/' + 'index.php?' + 'nv=newsnotice&status=success&email=' + email;
                                            }
                                        }
                                    });
                                    return false;
                                });
                            });
                        </script>

                        <div class="facebook">
                            <h3 class="header">Theo dõi facebook</h3>
                            <div class="box_content"><iframe src="//www.facebook.com/plugins/likebox.php?href=https://www.facebook.com/TrungTamTiengHan/&amp;width=400&amp;height=220&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;locale=vi_VN&amp;stream=false&amp;header=true" scrolling="no" style="border:none; overflow:hidden; width:100%; height:220px;" allowtransparency="true" frameborder="0"></iframe></div>
                        </div>

                    </div>
                </div>

                <div class="lop60">
                    <div class="xbox">


                        <div class="lop50">
                            <div class="xbox bun">
                                <h3 class="cs">Cơ sở 1: Hai bà Trưng</h3>
                                <p class="dia1">Địa chỉ: Số 365 - Phố vọng - Đồng tâm  - Hai Bà Trưng - Hà Nội</p>

                                <p class="dia2">Tel: 0462 927 213</p>

                                <p class="dia3">Hotline: 0962 461 288 - 0917 86 12 88</p>

                                <p class="dia4">Email: trungtamtienghansofl@gmail.com</p>

                            </div>
                        </div>

                        <div class="lop50">
                            <div class="xbox bun">
                                <h3 class="cs">Cơ Sở 2 : Cầu Giấy</h3>
                                <p class="dia1">Địa chỉ: Số 44 Trần Vĩ ( Lê Đức Thọ Kéo Dài ) - Mai Dịch - Cầu Giấy - Hà Nội</p>

                                <p class="dia2">Tel: 0462 940 471</p>

                                <p class="dia3">Hotline: 0967 461 288 - 0964 66 12 88</p>

                                <p class="dia4">Email: trungtamtienghansofl@gmail.com</p>

                            </div>
                        </div>

                        <div class="lop50">
                            <div class="xbox bun">
                                <h3 class="cs">Cơ sở 3 : Thanh Xuân</h3>
                                <p class="dia1">Số 54 - Ngụy Như Kon Tum - Thanh Xuân -  Hà Nội</p>

                                <p class="dia2">Tel: 0466 869 260</p>

                                <p class="dia3">Hotline : 0917 46 12 88  -  0986 84 12 88</p>

                                <p class="dia4">Email: trungtamtienghansofl@gmail.com</p>

                            </div>
                        </div>

                        <div class="lop50">
                            <div class="xbox bun">
                                <h3 class="cs">Cơ Sở 4 : Long Biên</h3>
                                <p class="dia1">Địa chỉ: Số 491B Nguyễn Văn Cừ - Gia Thụy  - Long Biên - Hà Nội</p>

                                <p class="dia2">Tel: 0981 961 288</p>

                                <p class="dia3">Hotline: 0981 961 288 - 0965 761 288</p>

                                <p class="dia4">Email: trungtamtienghansofl@gmail.com</p>

                            </div>
                        </div>




                    </div>
                </div>

            </div>


            <div class="clear kc"></div>

            <div class="contentwrapper">
                <div class="copy">
                    <div class="d3">
                        <span style="font-size:16px;">&nbsp;<img alt="face" src="Trung%20t%C3%A2m%20ti%E1%BA%BFng%20H%C3%A0n%20SOFL%20-%20SOFL%20%ED%95%9C%20%EA%B5%AD%20%EC%96%B4%20%ED%95%99%20%EB%8B%B9%20Ti%E1%BA%BFng%20H%C3%A0n%20KLPT_files/icon_facebook.png" style="width: 40px; height: 39px;" /> &nbsp;<img alt="gôgle " src="Trung%20t%C3%A2m%20ti%E1%BA%BFng%20H%C3%A0n%20SOFL%20-%20SOFL%20%ED%95%9C%20%EA%B5%AD%20%EC%96%B4%20%ED%95%99%20%EB%8B%B9%20Ti%E1%BA%BFng%20H%C3%A0n%20KLPT_files/icon-google.png" style="width: 40px; height: 40px;" />&nbsp;&nbsp;<img alt="twiter " src="Trung%20t%C3%A2m%20ti%E1%BA%BFng%20H%C3%A0n%20SOFL%20-%20SOFL%20%ED%95%9C%20%EA%B5%AD%20%EC%96%B4%20%ED%95%99%20%EB%8B%B9%20Ti%E1%BA%BFng%20H%C3%A0n%20KLPT_files/twitter.png" style="width: 40px; height: 40px;" /></span><br /><span style="font-size:12px;">©Copyright - 2010 SOFL, by SOFL IT TEAM &nbsp;-&nbsp;&nbsp;Giấy phép đào tạo : Số 2330/QĐ - SGD &amp; ĐT Hà Nội</span>
                    </div>

                    <img alt="chan-trang" src="~/Content/themes/vedu/images/footer-1.png" style="width: 100%;" />
                </div>
            </div>



        </div>


    </div>
    @RenderBody()
    <script type="text/javascript">
        nv_DigitalClock('digclock');
    </script>
    <script type="text/javascript" src="~/Content/themes/vedu/js/mudim.js"></script>
</body>
</html>