﻿<script src="~/assets/js/jquery.min.js"></script>
<script src="~/assets/plugins/fileuploads/js/dropify.min.js"></script>
<!-- init -->
@*<header id="topnav">
    <div class="topbar-main">
        <div class="container">
            <!-- LOGO -->
            <div class="topbar-left">
                <a href="/" class="logo"><span>Project<span> Management</span></span></a>
            </div>
            <!-- End Logo container-->

            <div class="menu-extras">
                <ul class="nav navbar-nav navbar-right pull-right">

                    <li>
                        <!-- Notification -->
                        <div class="notification-box">
                            <ul class="list-inline m-b-0">
                                <li>
                                    <a href="javascript:void(0);" class="right-bar-toggle">
                                        <i class="zmdi zmdi-notifications-none"></i>
                                    </a>
                                    <div class="noti-dot">
                                        <span class="dot"></span>
                                        <span class="pulse"></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- End Notification bar -->
                    </li>
                    <li class="dropdown user-box">
                        <a href="" class="dropdown-toggle waves-effect waves-light profile " data-toggle="dropdown" aria-expanded="true">
                            @if (Session["ProfilePicture"] != null && Session["ProfilePicture"].ToString().Length > 0)
                            {
                                <img src="@Session["ProfilePicture"].ToString()" alt="user-img" class="img-circle user-img">
                            }
                            else
                            {
                                <img src="~/assets/images/users/no-avatar.jpg" alt="user-img" class="img-circle user-img">
                            }
                            <div class="user-status away"><i class="zmdi zmdi-dot-circle"></i></div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0)" data-toggle="modal" data-target="#con-close-modal-personal-info" onclick="memberController.currentMember = 0; memberController.showFormPersonalInformation()"><i class="ti-user m-r-5"></i>Thông tin cá nhân</a></li>
                            <li><a href="/manage/changepassword"><i class="ti-settings m-r-5"></i> Đổi mật khẩu</a></li>
                            <li><a href="/account/logoff" id="log-off-link"><i class="ti-power-off m-r-5"></i> Đăng xuất</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="menu-item">
                    <!-- Mobile menu toggle-->
                    <a class="navbar-toggle">
                        <div class="lines">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                    <!-- End mobile menu toggle-->
                </div>
            </div>
        </div>
    </div>
    <div class="navbar-custom">
        <div class="container">
            <div id="navigation">
                <!-- Navigation Menu-->
                <ul class="navigation-menu">

                    <li class="@string.Format("{0}", Request.Url.AbsolutePath.ToLower().Equals("/") ||  Request.Url.AbsolutePath.ToLower().Contains("/home") ? "active" : "")">
                        <a href="/"><i class="zmdi zmdi-view-dashboard"></i> <span> Dashboard </span> </a>
                    </li>

                    @if (User.IsInRole("Admin"))
                    {
                        <li class="@string.Format("{0}",Request.Url.AbsolutePath.ToLower().Contains("/member/role") ? "active" : "")">
                            <a href="/member/role"><i class="zmdi zmdi-roller"></i> <span> Chức vụ/vai trò</span> </a>
                        </li>
                        <li class="@string.Format("{0}",Request.Url.AbsolutePath.ToLower().Equals("/account") ? "active" : "")">
                            <a href="/member"><i class="fa fa-user"></i> <span> Thành viên</span> </a>
                        </li>
                    }
                    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                    {
                        <li class="@string.Format("{0}", Request.Url.AbsolutePath.ToLower().Equals("/project") ? "active" : "")">
                            <a href="/project"><i class="zmdi zmdi-collection-text"></i><span> Dự án </span> </a>
                        </li>
                        <li class="@string.Format("{0}", Request.Url.AbsolutePath.ToLower().Equals("/projecttask") ? "active" : "")">
                            <a href="/projecttask"><i class="zmdi zmdi-comment-text"></i><span> Công việc </span> </a>
                        </li>
                        <li class="@string.Format("{0}", Request.Url.AbsolutePath.ToLower().Equals("/contractor") ? "active" : "")">
                            <a href="/contractor"><i class="zmdi zmdi-view-list"></i> <span> Nhà thầu </span> </a>
                        </li>
                        <li class="@string.Format("{0}", Request.Url.AbsolutePath.ToLower().Equals("/investor") ? "active" : "")">
                            <a href="/investor"><i class="zmdi zmdi-view-array"></i><span> Chủ đầu tư </span> </a>
                        </li>
                    }
                    <li class="@string.Format("{0}",Request.Url.AbsolutePath.ToLower().Equals("/myjob") ? "active" : "")">
                        <a href="/myjob"><i class="zmdi zmdi-view-array"></i><span> Công việc/nhiệm vụ </span> </a>
                    </li>
                </ul>
                <!-- End navigation menu  -->
            </div>
        </div>
    </div>
</header>*@


<div class="topbar">
    <!-- LOGO -->
    <div class="topbar-left">
        <a href="/" class="logo"><span>V-<span>EDU</span></span><i class="zmdi zmdi-layers"></i></a>
    </div>
    <!-- Button mobile view to collapse sidebar menu -->
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Page title -->
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <button class="button-menu-mobile open-left">
                        <i class="zmdi zmdi-menu"></i>
                    </button>
                </li>
                <li>
                    <h4 class="page-title">@ViewBag.Title</h4>
                </li>
            </ul>
            <!-- Right(Notification and Searchbox -->
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <!-- Notification -->
                    <div class="notification-box">
                        <ul class="list-inline m-b-0">
                            <li>
                                <a href="javascript:void(0);" class="right-bar-toggle">
                                    <i class="zmdi zmdi-notifications-none"></i>
                                </a>
                                <div class="noti-dot">
                                    <span class="dot"></span>
                                    <span class="pulse"></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- End Notification bar -->
                </li>
                <li class="hidden-xs">
                    <form role="search" class="app-search">
                        <input type="text" placeholder="Search..."
                               class="form-control">
                        <a href=""><i class="fa fa-search"></i></a>
                    </form>
                </li>
            </ul>
        </div><!-- end container -->
    </div><!-- end navbar -->
</div>

      <!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!-- User -->
        <div class="user-box">
            <div class="user-img">
                @if (Session["ProfilePicture"] != null && Session["ProfilePicture"].ToString().Length > 0)
                {
                    <img src="@Session["ProfilePicture"].ToString()" alt="user-img" class="img-circle img-thumbnail img-responsive">
                }
                else
                {
                    <img src="~/assets/images/users/no-avatar.jpg" alt="user-img" class="img-circle img-thumbnail img-responsive">
                }
                <div class="user-status online"><i class="zmdi zmdi-dot-circle"></i></div>
            </div>
            <h5><a href="#">@User.Identity.Name</a> </h5>
            <ul class="list-inline">
                <li>
                    <a href="/manage/changepassword" title="Đổi mật khẩu"><i class="ti-settings m-r-5"></i></a>
                </li>
                <li>
                    <a href="/account/logoff" id="log-off-link" title="Đăng xuất"><i class="ti-power-off m-r-5"></i></a>
                </li>
            </ul>
        </div>
        <!-- End User -->
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <ul>
                @*<li class="text-muted menu-title">Menu Quản Lý</li>*@
                <li>
                    <a href="/" class="waves-effect active"><i class="zmdi zmdi-view-dashboard"></i> <span> Dashboard </span> </a>
                </li>
                <li>
                    <a href="/account/" class="waves-effect"><i class="zmdi zmdi-accounts"></i> <span> Người dùng </span> </a>
                </li>
                <li>
                    <a href="/menu/" class="waves-effect"><i class="zmdi zmdi-accounts"></i> <span> Loại bài viết </span> </a>
                </li>
                <li>
                    <a href="/news/" class="waves-effect"><i class="zmdi zmdi-accounts"></i> <span> Bài viết </span> </a>
                </li>
                <li>
                    <a href="/" class="waves-effect"><i class="zmdi zmdi-assignment-account"></i> <span> Khóa học </span> </a>
                </li>
                <li>
                    <a href="/" class="waves-effect"><i class="zmdi zmdi-account-box-mail"></i> <span> Danh sách đăng ký học </span> </a>
                </li>
                <li>
                    <a href="/" class="waves-effect"><i class="zmdi zmdi-notifications-active"></i> <span> Danh sách subscribe </span> </a>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-google-pages"></i> <span> Trang </span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="">Danh sách loại bài viết</a></li>
                        <li><a href="">Danh sách bài viết</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/resource" class="waves-effect"><i class="zmdi zmdi-settings"></i> <span>Thiết lập tài nguyên</span> </a>
                </li>
                <li>
                    <a href="/" class="waves-effect"><i class="zmdi zmdi-book-image"></i> <span>Slide/Album ảnh </span> </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>
    </div>
</div>
<!-- Left Sidebar End -->