﻿@model ProjectManagement.Models.PositionModel
@{ 
    ViewBag.Title = "Thêm thành viên";
}
<div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <form action="/member/createoredit" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">@ViewBag.Title</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="field-1" class="control-label">Email đăng nhập</label>
                            <input type="text" class="form-control" name="Email" id="Email" placeholder="Email đăng nhập" value="">
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="field-2" class="control-label">Tên thành viên</label>
                            <input type="text" class="form-control" id="Name" name="Phone" placeholder="Tên thành viên" value="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="field-3" class="control-label">Điện thoại</label>
                            <input type="text" class="form-control" id="Phone" name="Phone" placeholder="Address">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="field-4" class="control-label">Chức vụ/vị trí</label>
                            <select class="form-control" name="PositionId">
                                @{
                                    var listPosition = (List<Model.Position>)ViewBag.Positions;
                                    foreach (var item in listPosition)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group no-margin">
                            <label for="field-7" class="control-label">Thông tin thêm/ghi chú</label>
                            <textarea class="form-control autogrow" id="field-7" name="" placeholder="Nội dung..." style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 104px;"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Hủy</button>
                <button type="submit" class="btn btn-info waves-effect waves-light">Lưu</button>
            </div>
        </div>
    </form>
    </div>
</div><!-- /.modal -->