﻿@{
    ViewBag.Title = "Quản lý danh sách người dùng";
}

<!-- Editatable  Css-->
<link rel="stylesheet" href="~/assets/plugins/magnific-popup/dist/magnific-popup.css" />
<link rel="stylesheet" href="~/assets/plugins/jquery-datatables-editable/datatables.css" />
<link href="~/assets/plugins/fileuploads/css/dropify.min.css" rel="stylesheet" type="text/css" />
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">
            <!-- end row -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="m-b-30">
                                        <button class="btn btn-primary waves-effect waves-light" onclick="memberController.currentMember = 0; memberController.showFormAddNew()">Thêm <i class="fa fa-plus"></i></button>
                                        <button name="add-new" class="tiny-button" style="display:none;" data-toggle="modal" data-target="#con-close-modal">&nbsp; <i class="fa fa-plus"></i></button>
                                        <button name="update-profile" class="tiny-button" style="display:none;" data-toggle="modal" data-target="#con-close-modal-update-profile">&nbsp; <i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="editable-responsive">
                                <table class="table table-striped" id="datatable-editable">
                                    <thead>
                                        <tr>
                                            <th>Tên</th>
                                            <th>Số điện thoại</th>
                                            <th>Email</th>
                                            <th>Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{

                                            foreach (var item in ViewBag.Profiles as List<ProjectManagement.Models.RegisterViewModel>)
                                            {
                                                <tr class="gradeX">
                                                    <td>@item.Name</td>
                                                    <td>
                                                        @item.Phone
                                                    </td>
                                                    <td>@item.Email</td>
                                                    <td class="actions">
                                                        <a href="javascript:void(0)" onclick="memberController.currentMember='@item.UserId'; memberController.showFormUpdateProfile();" class="on-default font-size-18"><i class="fa fa-pencil"></i></a>
                                                        <a href="javascript:void(0)" onclick="memberController.currentMember='@item.UserId';" class="on-default remove-row font-size-18"><i class="fa fa-trash-o"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end: panel body -->
                    </div> <!-- end panel -->
                </div> <!-- end col-->
            </div>
            <!-- end row -->
        </div> <!-- container -->
    </div> <!-- content -->
   @Html.Partial("Footer")
</div>

 <!-- MODAL -->
<div id="dialog" class="modal-block mfp-hide">
    <section class="panel panel-info panel-color">
        <header class="panel-heading">
            <h2 class="panel-title">Xóa?</h2>
        </header>
        <div class="panel-body">
            <div class="modal-wrapper">
                <div class="modal-text">
                    <p>Bạn có chắc muốn xóa thành viên này?</p>
                </div>
            </div>
            <div class="row m-t-20">
                <div class="col-md-12 text-right">
                    <button id="dialogConfirm" class="btn btn-primary waves-effect waves-light" onclick="memberController.deleteMember()">Đồng ý</button>
                    <button id="dialogCancel" class="btn btn-default waves-effect">Hủy bỏ</button>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- end Modal -->
<!-- Right Sidebar -->
@Html.Partial("NotificationBar")
<!-- /Right-bar -->

@Html.Partial("Script")
@section scripts{
    
<!-- Editable js -->
<script src="~/assets/plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
<script src="~/assets/plugins/jquery-datatables-editable/jquery.dataTables.js"></script>
<script src="~/assets/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="~/assets/js/controller/memberController.js"></script>
<script src="~/assets/plugins/fileuploads/js/dropify.min.js"></script>

}
