﻿@using ProjectManagement.Models
@model LoginViewModel
@{
    ViewBag.Title = "Đăng nhập hệ thống";
    Layout = null;
}
    <!-- App CSS -->
<link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/css/core.css" rel="stylesheet" type="text/css" />
<link href="~/assets/css/components.css" rel="stylesheet" type="text/css" />
<link href="~/assets/css/icons.css" rel="stylesheet" type="text/css" />
<link href="~/assets/css/pages.css" rel="stylesheet" type="text/css" />
<link href="~/assets/css/menu.css" rel="stylesheet" type="text/css" />
<link href="~/assets/css/responsive.css" rel="stylesheet" type="text/css" />
<!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
<script src="~/assets/js/modernizr.min.js"></script>

<div class="account-pages"></div>
<div class="clearfix"></div>
<div class="wrapper-page">
    <div class="text-center">
        <a href="/" class="logo">Korean<span><span> Languagu Center</span></span></a>
        <h5 class="text-muted m-t-0 font-600">Hệ Thống Quản Lý Trung Tâm Tiếng Hàn </h5>
    </div>
    <div class="m-t-40 card-box">
        <div class="text-center">
            <h4 class="text-uppercase font-bold m-b-0">Đăng nhập</h4>
        </div>
        <div class="panel-body">
            <form class="form-horizontal m-t-20" method="post" action="/account/login">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, null, new { @class = "form-group field-validation-error" })
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" name="Email" type="text" required="" placeholder="Email đăng nhập">
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" name="Password" type="password" required="" placeholder="Mật khẩu">
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <div class="checkbox checkbox-custom">
                            <input id="checkbox-signup" type="checkbox">
                            <label for="checkbox-signup">
                                Ghi nhớ
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center m-t-30">
                    <div class="col-xs-12">
                        <button class="btn btn-custom btn-bordred btn-block waves-effect waves-light" type="submit">Đăng nhập</button>
                    </div>
                </div>
                <div class="form-group m-t-30 m-b-0">
                    <div class="col-sm-12">
                        <a href="/account/forgotpassword" class="text-muted"><i class="fa fa-lock m-r-5"></i> Quên mật khẩu?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- end card-box-->
    @*<div class="row">
        <div class="col-sm-12 text-center">
            <p class="text-muted">Don't have an account? <a href="page-register.html" class="text-primary m-l-5"><b>Sign Up</b></a></p>
        </div>
    </div>*@

</div>
<!-- end wrapper page -->


<script>
            var resizefunc = [];
</script>
<!-- jQuery  -->
<script src="~/assets/js/jquery.min.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>
<script src="~/assets/js/detect.js"></script>
<script src="~/assets/js/fastclick.js"></script>
<script src="~/assets/js/jquery.slimscroll.js"></script>
<script src="~/assets/js/jquery.blockUI.js"></script>
<script src="~/assets/js/waves.js"></script>
<script src="~/assets/js/wow.min.js"></script>
<script src="~/assets/js/jquery.nicescroll.js"></script>
<script src="~/assets/js/jquery.scrollTo.min.js"></script>
<!-- App js -->
<script src="~/assets/js/jquery.core.js"></script>
<script src="~/assets/js/jquery.app.js"></script>
