﻿@using System.Data.Entity;
@model ProjectManagement.Models.RegisterViewModel
@{
    ViewBag.Title = "Thêm thành viên mới";
}
<script>
    $(document).ready(function () {
        $('.dropify').dropify({
            messages: {
                default: 'Kéo và thả file hoặc click vào đây',
                replace: 'Kéo và thả hoặc click để thay đổi ảnh',
                remove: 'Xóa',
                error: 'Ooop, có lỗi xảy ra trong quá trình xử lý.'
            }
        });
    });
</script>
<div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <form action="/account/register" method="post" enctype = "multipart/form-data" id="create">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">@ViewBag.Title</h4>
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    
                </div>
                <div class="modal-body">
                    <div class="row">
                        @Html.ValidationMessageFor(m => m.UserId, "", new { @class = "text-danger" })
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="field-1" class="control-label">Email đăng nhập</label>
                                <input type="text" class="form-control" name="Email" id="Email" placeholder="Email đăng nhập" value="">
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="field-2" class="control-label">Tên thành viên</label>
                                <input type="text" class="form-control" id="Name" name="Name" placeholder="Tên thành viên" value="">
                                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="field-1" class="control-label">Mật khẩu mặc định</label>
                                <input type="password" class="form-control" name="Password" id="Password" placeholder="Mật khẩu" value="">
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="field-1" class="control-label">Xác nhận mật khẩu</label>
                                <input type="password" class="form-control" name="ConfirmPassword" id="ConfirmPassword" placeholder="Xác nhận mật khẩu" value="">
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="field-3" class="control-label">Địa chỉ</label>
                                <input type="text" class="form-control" id="Address" name="Address" placeholder="Địa chỉ">
                                @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="field-3" class="control-label">Điện thoại</label>
                                <input type="text" class="form-control" id="Phone" name="Phone" placeholder="Điện thoại">
                                @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="field-4" class="control-label">Vai trò</label>
                                <select class="form-control" id="RoleId" name="RoleId">
                                    @{
                                        foreach (var item in ViewBag.Roles as List<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="ProfilePicture" class="control-label">Ảnh đại diện</label>
                                @Html.TextBoxFor(m => m.FileBase, new { @class = "dropify", placeholder = "Ảnh đại diện", type = "file", @data_default_file = Model.ProfilePicture })

                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-info waves-effect waves-light" onclick="memberController.saveData()">Lưu</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="~/assets/js/base/base.js"></script>
<script src="~/assets/js/base/baseJs.js"></script>
<script src="~/assets/js/base/baseJs.RenderTemplate.js"></script>