body {
    font: 14px/1.4 arial,Helvetica,sans-serif;
    background: #fff;
}

.khoang-cach {
    height: 50px;
}

a:link, a:active, a:visited {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
}

#container {
    width: 100%;
    margin: 0 auto;
    background: #fff;
}

.head {
    color: #333;
    line-height: 1.5;
}

    .head a:link, .head a:active, .head a:visited {
        color: #fff;
    }

.bun {
    border: 0 solid #dcdcdc;
    margin: 2px;
    border-radius: 5px;
}

    .bun p {
        padding: 3px;
        padding-left: 48px;
        font-size: 12px;
        color: #555;
    }

.dia1 {
    background: url(../images/diachi.png) no-repeat 0 3px;
    height: 45px;
    padding-top: 10px !important;
}

.dia2 {
    background: url(../images/dt.png) no-repeat 0 3px;
    line-height: 45px;
}

.dia3 {
    background: url(../images/phones.png) no-repeat 0 3px;
    line-height: 45px;
}

.dia4 {
    background: url(../images/email.png) no-repeat 0 3px;
    line-height: 45px;
}

.cs {
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 5px;
}

.dn {
    float: left;
    width: 48%;
    background: #c82254;
    margin: 1%;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 12px;
}

.dk {
   float: left;
    width: 99%;
    background: #ed9000;
    margin: 1%;
    color: #fff;
    text-align: center;
    margin-bottom: 12px;
    padding: 12px 0px;
    text-transform: uppercase;
}

.copy {
    padding: 5px;
    color: #333;
    line-height: 40px;
    text-align: center;
}

#header {
    background: #fff;
}

.banner {
    width: 1180px;
    margin: 0 auto;
}

.hoc-vien {
    width: 33.33%;
    float: left;
    text-align: center;
}

    .hoc-vien span {
        font-size: 24px;
        font-weight: bold;
    }

.chia-se {
    padding: 10px;
    margin: 10px;
    border: 1px solid #dedede;
    color: #333;
    border-radius: 10px;
    font-size: 14px;
    font-style: italic;
}

    .chia-se img {
        box-shadow: 0 0 6px rgba(0,0,0,10);
        -moz-box-shadow: 0 0 6px rgba(0,0,0,10);
        -webkit-box-shadow: 0 0 6px rgba(0,0,0,10);
        height: 200px;
        width: 200px;
        padding: 10px;
        border: 1px solid #dcdcdc;
        border-radius: 100%;
        margin: 10px 0;
    }

.docgia {
    font-style: italic;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    margin: 5px;
}

.d3 {
    padding-left: 10px;
}

.kc {
    height: 10px;
}

#header .show-logo {
    width: 280px;
    float: left;
    text-align: center;
}

#header #logo {
    width: 280px;
}

    #header #logo img {
        height: 146px;
    }

#header .header_banner {
    width: 530px;
    float: left;
    margin: 0 0;
    padding-top: 65px;
    margin-left: 40px;
}

.submit {
    background: url(../images/tk.png) no-repeat;
    height: 30px;
    width: 30px;
    border: 0;
}

#header .header_banner2 {
    width: 300px;
    float: right;
    margin: 0 0;
    padding-top: 20px;
}

.hottop {
    background: url(../images/phone.png) no-repeat 0 24px;
    padding-left: 55px;
    padding-top: 5px;
}

.menu {
    margin-bottom: 10px;
    background: #c82254;
}

.menucon {
    width: 1180px;
    margin: 0 auto;
}

#header .language {
    position: absolute;
    top: 10px;
    right: 10px;
}

#message {
    height: 30px;
    line-height: 25px;
    background: #d7d7d7 url(../images/message_bg.jpg) repeat-x;
    padding: 0 0 0 10px;
}

    #message div.clock {
        display: block;
        float: left;
        background: url(../images/message_time_bg_r.jpg) no-repeat top right;
        padding: 0 13px 0 0;
    }

        #message div.clock span {
            display: block;
            float: left;
            background: url(../images/message_time_bg_l.jpg) no-repeat;
            padding: 0 0 0 13px;
            font-size: 11px;
            color: #333;
        }

    #message form.search {
        background: url(../images/message_search.jpg) no-repeat;
        width: 278px;
    }

        #message form.search input.txt {
            margin: 0 0 0 40px;
            width: 184px;
        }

        #message form.search input.submit {
            margin: 0 0 0 4px;
            text-transform: uppercase;
            padding: 0;
            width: 40px;
        }

div.contentwrapper {
    width: 1180px;
    margin: 0 auto;
}

div.contentcolumn p {
    padding: 4px 0;
}

div.box form.login {
    padding: 0 10px 10px 10px;
}

    div.box form.login input.txt {
        border: 1px solid #b2b0b1;
        padding: 3px;
        width: 160px;
    }

    div.box form.login label {
        display: block;
        font-weight: 700;
        padding: 5px 0 4px 0;
    }

    div.box form.login img {
        vertical-align: middle;
    }

div.box div.signed img {
    border: 1px solid #ccc;
    padding: 2px;
    margin-right: 4px;
    width: 80px;
}

div.box div.signed a {
    display: block;
    color: #333;
}

div.online p {
    margin: 0 0 4px 0;
}

div.online img {
    vertical-align: middle;
    margin-right: 2px;
}

div.online span.item {
    padding: 0 0 0 20px;
}

    div.online span.item strong {
        padding-right: 4px;
    }

div.box p.about {
    text-indent: 20px;
    text-align: justify;
    padding: 10px 4px;
}

div.box div.ads {
    padding: 10px 4px;
}

form.newsletter {
    padding: 4px;
}

    form.newsletter input.txt {
        font-size: 11px;
        color: #999;
        padding: 4px;
        width: 150px;
        margin-right: 4px;
    }

.bottom_f {
    width: 1343px;
    margin: 0 auto;
}

.lop50 {
    float: left;
    width: 50%;
}

.lop60 {
    float: left;
    width: 60%;
}

.lop40 {
    float: left;
    width: 40%;
}

.dang-ki-hoc {
    background: url(../images/dang-ki-hoc.png) no-repeat;
}

.xbox {
    padding: 10px;
}

.lhcon {
    margin: 10px;
    background: rgba(154,154,154,0.9);
}

.txtInput {
    height: 30px;
    border: 0;
    padding-left: 10px;
}

ul.breadcrumbs li {
    float: left;
    padding: 5px;
    margin-bottom: 5px;
}

.bt1 {
    background: #e09c5f;
    border: 0;
    width: 100%;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.chantrang {
    padding: 0;
    font-size: 14px;
    font-style: italic;
    padding-top: 15px;
    text-align: justify;
}

.nhan-tin {
    height: 30px;
    width: 240px;
    padding: 0 10px;
    color: #666;
}

.dk-nhan-tin {
    height: 35px;
    width: 100px;
    padding: 0 10px;
    background: #d92429;
    border: 0;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
}

.face {
    padding-left: 80px;
    text-align: center;
    margin-top: 50px;
}

#footer {
    background: #fff url(../images/footer-1123.png) no-repeat bottom;
    padding: 5px 0;
    padding-top: 10px;
    color: #333;
    min-height: 1000px;
}

    #footer a:link, #footer a:active, #footer a:visited {
        color: #fff !important;
    }

    #footer td {
        border: 1px solid #fff;
        width: 24% !important;
        padding: .5%;
    }

    #footer p.footer, p.show_query {
        padding: 0 10px;
        margin: 0;
        font-size: 11px;
        color: #9c9c9c;
    }

    #footer ul.bottom_nav, #footer ul.bottom-toolbar {
        font-size: 11px;
        text-align: right;
    }

        #footer ul.bottom_nav li, #footer ul.bottom-toolbar li {
            display: inline;
        }

            #footer ul.bottom_nav li span {
                padding: 0 0 0 4px;
            }

    #footer ul.bottom-toolbar {
        margin-top: 0;
    }

        #footer ul.bottom-toolbar img {
            vertical-align: middle;
            padding: 0 4px;
        }

div.box form.voting {
    padding: 10px;
}

h3.breakcolumn {
    line-height: 27px;
    border-bottom: 1px solid #ccc;
    font-weight: normal;
}

    h3.breakcolumn span.breakcolumn {
        font-size: 14px;
        font-weight: 700;
        padding: 0 4px;
    }

.column, .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12, .span-13, .span-14, .span-15, .span-16, .span-17, .span-18, .span-19, .span-20, .span-21, .span-22, .span-23, .span-24, .span-25 {
    float: left;
    margin-right: 15px;
}

.last {
    margin-right: 0 !important;
}

.span-4 {
    width: 150px;
}

.span-5 {
    width: 280px;
}

.span-6 {
    width: 230px;
}

.span-7 {
    width: 270px;
}

.span-8 {
    width: 450px;
}

.span-9 {
    width: 350px;
}

.span-10 {
    width: 390px;
}

.span-11 {
    width: 430px;
}

.span-12 {
    width: 470px;
}

.span-13 {
    width: 510px;
}

.span-16 {
    width: 630px;
}

.span-19 {
    width: 880px;
}

.span-25 {
    width: 370px;
}

.breakcolumn a:active, .breakcolumn a:visited, .breakcolumn a:link {
    color: #555;
}

hr {
    background: #ccc;
    color: #ccc;
    clear: both;
    float: none;
    width: 100%;
    height: .08em;
    margin: 0;
    border: none;
}

img.refresh {
    cursor: pointer;
    padding-left: 10px;
}

div.box {
    width: 100%;
}

div.content {
    padding: 8px;
}

div.silver {
        margin-top: 0;
    margin-bottom: 15px;
    border: 1px solid #ddd
}

div.white, ul.list_item li.second {
    background: #fff;
}

div.orange {
    background: #ffe9da;
}

div.bordersilver {
    border: 1px solid #d9d9d9;
}

div.box h3.header {
  height: 45px;
    line-height: 45px;
    color: #fff;
    text-indent: 20px;
    font-size: 14px;
    background: #c82254;
    margin-bottom: 00px;
    text-transform: uppercase;
}

.span-19 table {
    border: 0;
}

.like {
    font-style: italic;
    color: #555;
    padding: 10px;
    font-size: 16px;
}

.span-19 table tr td {
    padding: 10px;
    border: 1px solid #dcdcdc;
}

div.box h3.header_trai {
    height: 40px;
    line-height: 40px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #fff;
    text-align: center;
    text-indent: 0;
    font-size: 14px;
    background: #C42568;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.facebook h3 {
    height: 10px;
    line-height: 10px;
    color: #333;
    text-align: left;
    text-indent: 0;
    font-size: 14px;
    margin-bottom: 10px;
}

.facebook {
    float: right;
    margin-top: 10px;
    width: 370px;
}

.thuvien h3.header {
    height: 60px;
    line-height: 60px;
    color: #333;
    text-indent: 0;
    text-align: center;
    font-size: 20px;
    background: #fff url(../images/header-h.png) no-repeat center;
    margin-bottom: 10px;
    text-transform: uppercase;
}

div.box h3.header a {
    color: #fff;
}

div.box h3.header strong, .box_silver strong, .box_orange strong {
    padding-right: 4px;
    color: #0f0;
}

.box_silver {
    background: #c82254;
    margin-bottom: 10px;
    padding: 15px 5px;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    font-weight: normal;
}

.cat_title {
    background: #c82254 url(../images/news-title.png) no-repeat right;
    border-bottom: 0 solid #c82254;
    text-transform: uppercase;
    line-height: 40px;
    font-size: 13px;
    text-align: center;
    text-shadow: 0 0 5px rgba(0,0,0,.1),0 1px 3px rgba(0,0,0,.3),0 3px 5px rgba(0,0,0,.2),0 5px 10px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.2),0 20px 20px rgba(0,0,0,.15);
}

.thu-vien img {
    box-shadow: 0 0 6px rgba(0,0,0,10);
    -moz-box-shadow: 0 0 6px rgba(0,0,0,10);
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,10);
    padding: 5px;
    margin: 5px;
}

.cat_title a:link, .cat_title a:active, .cat_title a:visited {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}

.cat_title a:hover {
    color: #ff0;
}

.box_silver .header {
    background: #fff;
    height: 45px;
    line-height: 45px;
    color: #333;
    text-indent: 10px;
    font-size: 14px;
}

.box_orange a:link, .box_orange a:active, .box_orange a:visited, .box_silver a:link, .box_silver a:active, .box_silver a:visited {
    color: #fff;
}

.box_orange a:hover, .box_silver a:hover {
    color: #fff;
    cursor:pointer;
}

.box_orange {
    background: #6eb2be;
    margin-bottom: 10px;
    padding: 15px 5px;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    font-weight: normal;
}

    .box_orange .header {
        background: #064370;
        height: 45px;
        line-height: 45px;
        color: #fff;
        text-indent: 10px;
        font-size: 14px;
        margin-left: 5px;
        padding-left: 5px;
        width: 99%;
    }

.box_title {
    float: left;
    width: 25%;
}

.noidung {
    margin: 5px;
}

.box_white .header {
    background: #fff;
    height: 45px;
    line-height: 45px;
    color: #007ac7;
    text-indent: 10px;
    border-bottom: 1px solid #d7d7d7;
    font-size: 14px;
}

.box_content {
    padding: 0;
    border: 0 solid #ccc;
    border-radius: 5px;
    background: #c82254;
}

form div.submit {
    background: url(../images/button01_r.png) top right no-repeat;
    padding: 0 2px 0 0;
    float: left;
}

    form div.submit input {
        border: 0;
        color: #333;
        height: 22px;
        line-height: 22px;
        display: block;
        background: url(../images/button01_l.png) top left no-repeat;
        cursor: pointer;
    }

a.forgot {
    display: block;
    line-height: 22px;
    height: 22px;
    white-space: nowrap;
    color: #0674f1;
    font-size: 11px;
    padding-left: 4px;
}

a:hover.forgot {
    color: #333;
}

.bggreen {
    background: #e9ffd4;
}

#ver_menu {
    padding-bottom: 6px;
    text-indent: 24px;
}

    #ver_menu a {
        background: #e4e4e4 url(../images/vertical_menu_bg.jpg) no-repeat left top;
        color: #333;
        display: block;
        font: bold 11px/24px tahoma,arial,sans-serif;
        height: 25px;
        text-decoration: none;
    }

        #ver_menu a.current {
            background: #ffd9d9 url(../images/vertical_menu_bg.jpg) no-repeat left -25px;
            color: #333;
        }

        #ver_menu a.sub_normal {
            background: #f5fbfe url(../images/vertical_menu_bg.jpg) no-repeat left -75px;
            color: #333;
            padding-right: 5px;
            text-align: right;
        }

        #ver_menu a.sub_current {
            background: #f5fbfe url(../images/vertical_menu_bg.jpg) no-repeat left -75px;
            color: #cb0000;
            padding-right: 5px;
            text-align: right;
        }

        #ver_menu a.current:hover {
            background: #ffd9d9 url(../images/vertical_menu_bg.jpg) no-repeat left -25px;
            color: #0943ae;
        }

        #ver_menu a:hover {
            background: #d9e5ff url(../images/vertical_menu_bg.jpg) no-repeat left -50px;
            color: #cb0000;
        }

ul.list_item {
    padding: 0 2px 10px;
}

    ul.list_item li {
        padding: 8px 10px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        clear: both;
    }

.generate_page {
    float: left;
    font-size: 10px;
    font-weight: 700;
    margin: 10px;
}

    .generate_page strong {
        background-color: #fbfbfb;
        border: 1px solid #666;
        color: #000;
        padding: 4px 6px;
    }

    .generate_page a {
        background-color: #ebebeb;
        border: 1px solid #c8c8c8;
        color: #000;
        padding: 4px 6px;
        text-decoration: none;
    }

        .generate_page a:hover {
            background-color: #e0e0e0;
            color: red;
        }

#nojavascript {
    background: #ffffdf;
    color: #333;
    float: left;
    font: bold 12px/ 20px arial,helvetica,sans-serif;
    height: 70px;
    left: 0;
    padding: 10px 0 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.main_head {
    padding: 0;
}

.main_head_left {
    width: 280px;
    float: left;
}

.main_head_right {
    width: 650px;
    float: left;
    margin-left: 10px;
}

.main_head_end {
    width: 230px;
    float: left;
    margin-left: 10px;
    margin-top: -3px;
}

.main_body {
    background: #f0f5fb;
    padding: 10px 15px;
    width: 970px;
    float: left;
}

.main_box_larg {
    width: 100%;
    float: left;
    margin-bottom: 5px;
}

.main_box {
    width: 313px;
    margin: 0 5px;
    float: left;
}

.footer_left {
    padding: 5px 10px;
    line-height: 23px;
}

.designby {
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 30px;
}

@media screen and (min-width:1180px) {
    #container {
        width: 100%;
        margin: 0 auto;
        background: #fff;
    }
}

@media screen and (max-width:1024px) {
    #container {
        width: 100%;
        margin: 0 auto;
        background: #fff;
    }

    .banner, .menucon, div.contentwrapper, .bottom_f {
        width: 100%;
    }

    .thu-vien {
        display: none;
    }

    #cssmenu > ul > li > a {
        padding: 0 25px !important;
    }

    .main_head_right {
        width: 485px;
    }

    .box_title {
        width: 33.33%;
    }

    .span-19 {
        width: 724px;
    }

        .span-19 img {
            max-width: 100% !important;
        }

    .header_banner {
        display: none;
    }
}

@media screen and (max-width:768px) {
    #container {
        width: 100%;
        margin: 0 auto;
        background: #fff;
    }

    .banner, .menucon, div.contentwrapper, .bottom_f {
        width: 100%;
    }

    .thu-vien {
        display: none;
    }

    #cssmenu > ul > li > a {
        padding: 0 25px !important;
    }

    .main_head_right {
        display: none;
    }

    .main_head_left, .main_head_end {
        width: 48%;
    }

    .box_title {
        width: 50%;
    }

    .span-19 {
        width: 468px;
    }

        .span-19 img {
            max-width: 100% !important;
            height: auto !important;
        }
}

@media screen and (max-width:480px) {
    #container {
        width: 100%;
        margin: 0 auto;
        background: #fff;
    }

    .span-19 img {
        max-width: 100% !important;
        height: auto !important;
    }

    .header_banner2 {
        padding: 0 !important;
    }

    .banner, .menucon, div.contentwrapper, .bottom_f {
        width: 100%;
    }

    .thu-vien {
        display: none;
    }

    #cssmenu > ul > li > a {
        padding: 0 25px !important;
    }

    .main_head_right {
        display: none;
    }

    .main_head_left, .main_head_end, .span-5, .hoc-vien, .lop40, .lop50, .lop60, .span-19 {
        width: 100%;
    }

    .box_title {
        width: 100%;
    }
}
  .brt_new2 {
                            padding: 5px;
                            border: 1px solid #dedede;
                            min-height: 277px;
                            margin: 5px 0 30px;
                            border-radius: 0px;
                        }

                            .brt_new2 .tnd {
                            }

                        .title1 a {
                            color: #123979;
                        }

                        .brt_new2 .tnd .textnd {
                            padding-top: 5px;
                            text-align: justify;
                            color: #555;
                        }

                            .brt_new2 .tnd .textnd .left1 {
                                float: left;
                                width: 100px;
                                height: 100px;
                                background: url('') no-repeat -2px -398px;
                                padding: 0px 10px 0px 0px;
                            }

                        .left1 img {
                            border: 2px #ececec solid;
                            max-height: 80px;
                        }

                        .brt_new2 h3 {
                            padding: 5px;
                        }



                        .brt_new2 .tnd .l_new1 {
                            padding-top: 10px;
                        }

                            .brt_new2 .tnd .l_new1 a {
                                display: block;
                                padding-left: 15px;
                                padding-bottom: 5px;
                            }